use mcp_factory_core::ResourceSpec;

pub fn build_resources() -> Vec<ResourceSpec> {
    vec![
{% for resource in resources %}
        ResourceSpec {
            uri: {{ resource.uri | tojson }}.to_string(),
            name: {{ resource.name | tojson }}.to_string(),
            description: {{ resource.description | tojson }}.to_string(),
            mime_type: {{ resource.mime_type | tojson }}.to_string(),
            content: {{ resource.content | tojson }},
        },
{% endfor %}
    ]
}
