{
  "documentationLink": "https://developers.google.com/android-publisher",
  "description": "Lets Android application developers access their Google Play accounts. At a high level, the expected workflow is to \"insert\" an Edit, make changes as necessary, and then \"commit\" it. ",
  "title": "Google Play Android Developer API",
  "ownerName": "Google",
  "batchPath": "batch",
  "kind": "discovery#restDescription",
  "revision": "20260902",
  "servicePath": "",
  "discoveryVersion": "v1",
  "mtlsRootUrl": "https://androidpublisher.mtls.googleapis.com/",
  "schemas": {
    "UpdateOneTimeProductOfferStateRequest": {
      "id": "UpdateOneTimeProductOfferStateRequest",
      "type": "object",
      "properties": {
        "deactivateOneTimeProductOfferRequest": {
          "description": "Deactivates an offer. Once deactivated, the offer is no longer available to users. This state transition is specific to discounted offers.",
          "$ref": "DeactivateOneTimeProductOfferRequest"
        },
        "activateOneTimeProductOfferRequest": {
          "$ref": "ActivateOneTimeProductOfferRequest",
          "description": "Activates an offer. Once activated, the offer is available to users, as long as its conditions are met."
        },
        "cancelOneTimeProductOfferRequest": {
          "description": "Cancels an offer. Once cancelled, the offer is not available to users. Any pending orders related to this offer will be cancelled. This state transition is specific to pre-orders.",
          "$ref": "CancelOneTimeProductOfferRequest"
        }
      },
      "description": "Request message to update the state of a one-time product offer."
    },
    "BatchUpdateOneTimeProductOffersResponse": {
      "id": "BatchUpdateOneTimeProductOffersResponse",
      "type": "object",
      "description": "Response message for BatchUpdateOneTimeProductOffers.",
      "properties": {
        "oneTimeProductOffers": {
          "description": "The list of updated one-time product offers, in the same order as the request.",
          "type": "array",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      }
    },
    "OneTimeProductRentPurchaseOption": {
      "description": "A purchase option that can be rented.",
      "properties": {
        "rentalPeriod": {
          "description": "Required. The amount of time a user has the entitlement for. Starts at purchase flow completion. Specified in ISO 8601 format.",
          "type": "string"
        },
        "expirationPeriod": {
          "description": "Optional. The amount of time the user has after starting consuming the entitlement before it is revoked. Specified in ISO 8601 format.",
          "type": "string"
        }
      },
      "id": "OneTimeProductRentPurchaseOption",
      "type": "object"
    },
    "SdkVersion": {
      "description": "Represents an sdk version.",
      "properties": {
        "min": {
          "format": "int32",
          "description": "Inclusive minimum value of an sdk version.",
          "type": "integer"
        }
      },
      "id": "SdkVersion",
      "type": "object"
    },
    "AllUsers": {
      "id": "AllUsers",
      "type": "object",
      "properties": {
        "isAllUsersRequested": {
          "description": "Required. Set to true if all set of users are needed.",
          "type": "boolean"
        }
      },
      "description": "Object representation to describe all set of users."
    },
    "ApkTargeting": {
      "properties": {
        "textureCompressionFormatTargeting": {
          "$ref": "TextureCompressionFormatTargeting",
          "description": "Texture-compression-format-level targeting"
        },
        "abiTargeting": {
          "$ref": "AbiTargeting",
          "description": "The abi that the apk targets"
        },
        "screenDensityTargeting": {
          "$ref": "ScreenDensityTargeting",
          "description": "The screen density that this apk supports."
        },
        "languageTargeting": {
          "description": "The language that the apk targets",
          "$ref": "LanguageTargeting"
        },
        "multiAbiTargeting": {
          "description": "Multi-api-level targeting.",
          "$ref": "MultiAbiTargeting"
        },
        "sdkVersionTargeting": {
          "$ref": "SdkVersionTargeting",
          "description": "The sdk version that the apk targets"
        }
      },
      "description": "Represents a set of apk-level targetings.",
      "id": "ApkTargeting",
      "type": "object"
    },
    "PrepaidPlan": {
      "description": "Information related to a prepaid plan.",
      "properties": {
        "allowExtendAfterTime": {
          "description": "If present, this is the time after which top up purchases are allowed for the prepaid plan. Will not be present for expired prepaid plans.",
          "type": "string",
          "format": "google-datetime"
        }
      },
      "type": "object",
      "id": "PrepaidPlan"
    },
    "ApksListResponse": {
      "id": "ApksListResponse",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#apksListResponse\").",
          "type": "string"
        },
        "apks": {
          "items": {
            "$ref": "Apk"
          },
          "description": "All APKs.",
          "type": "array"
        }
      },
      "type": "object",
      "description": "Response listing all APKs."
    },
    "PolicyKeyedGroupResponse": {
      "properties": {
        "groups": {
          "description": "Optional. Groups of responses to questions. Each KeyedGroup.key must be unique within this list.",
          "items": {
            "$ref": "KeyedGroup"
          },
          "type": "array"
        }
      },
      "description": "A group of responses each identified by a distinct key within an allowed set.",
      "type": "object",
      "id": "PolicyKeyedGroupResponse"
    },
    "RecentAppView": {
      "properties": {
        "appView": {
          "description": "Recently updated app view.",
          "$ref": "CatalogAppView"
        }
      },
      "id": "RecentAppView",
      "type": "object",
      "description": "Metadata about a recently updated app."
    },
    "RegionalBasePlanConfig": {
      "type": "object",
      "description": "Configuration for a base plan specific to a region.",
      "properties": {
        "regionCode": {
          "description": "Required. Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "newSubscriberAvailability": {
          "description": "Whether the base plan in the specified region is available for new subscribers. Existing subscribers will not have their subscription canceled if this value is set to false. If not specified, this will default to false.",
          "type": "boolean"
        },
        "price": {
          "$ref": "Money",
          "description": "The price of the base plan in the specified region. Must be set if the base plan is available to new subscribers. Must be set in the currency that is linked to the specified region."
        }
      },
      "id": "RegionalBasePlanConfig"
    },
    "RevocationContextFullRefund": {
      "type": "object",
      "properties": {},
      "description": "Used to determine if the refund type in the RevocationContext is a full refund.",
      "id": "RevocationContextFullRefund"
    },
    "SubscriptionTaxAndComplianceSettings": {
      "id": "SubscriptionTaxAndComplianceSettings",
      "properties": {
        "regionalProductAgeRatingInfos": {
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          },
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "type": "array"
        },
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Product tax category code to assign to the subscription. Product tax category determines the transaction tax rates applied to the subscription. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this subscription is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        },
        "taxRateInfoByRegionCode": {
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "type": "object",
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\"."
        },
        "eeaWithdrawalRightType": {
          "enumDescriptions": [
            "",
            "",
            ""
          ],
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Details about taxation, Google Play policy, and legal compliance for subscription products."
    },
    "BuyerAddress": {
      "id": "BuyerAddress",
      "properties": {
        "buyerPostcode": {
          "description": "Postal code of an address. When Google is the Merchant of Record for the order, this information is not included.",
          "type": "string"
        },
        "buyerState": {
          "type": "string",
          "description": "Top-level administrative subdivision of the buyer address country. When Google is the Merchant of Record for the order, this information is not included."
        },
        "buyerCountry": {
          "description": "Two letter country code based on ISO-3166-1 Alpha-2 (UN country codes).",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Address information for the customer, for use in tax computation."
    },
    "BatchUpdateOneTimeProductOffersRequest": {
      "id": "BatchUpdateOneTimeProductOffersRequest",
      "description": "Request message for BatchUpdateOneTimeProductOffers.",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different offers.",
          "type": "array",
          "items": {
            "$ref": "UpdateOneTimeProductOfferRequest"
          }
        }
      },
      "type": "object"
    },
    "ConvertedRegionPrice": {
      "properties": {
        "regionCode": {
          "description": "The region code of the region.",
          "type": "string"
        },
        "taxAmount": {
          "$ref": "Money",
          "description": "The tax amount of the converted price."
        },
        "price": {
          "$ref": "Money",
          "description": "The converted price tax inclusive."
        }
      },
      "type": "object",
      "description": "A converted region price.",
      "id": "ConvertedRegionPrice"
    },
    "ExternalSubscription": {
      "properties": {
        "subscriptionType": {
          "description": "Required. The type of the external subscription.",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "This is a recurring subscription where the user is charged every billing cycle.",
            "This is a prepaid subscription where the user pays up front."
          ],
          "type": "string",
          "enum": [
            "SUBSCRIPTION_TYPE_UNSPECIFIED",
            "RECURRING",
            "PREPAID"
          ]
        }
      },
      "id": "ExternalSubscription",
      "type": "object",
      "description": "Details of an external subscription."
    },
    "CatalogPermission": {
      "description": "A permission declared by an app.",
      "id": "CatalogPermission",
      "properties": {
        "maxSdkVersion": {
          "description": "The `maxSdkVersion` attribute indicating up to which Android SDK version the permission is requested.",
          "type": "integer",
          "format": "int32"
        },
        "name": {
          "type": "string",
          "description": "The `name` attribute indicating the permission name."
        }
      },
      "type": "object"
    },
    "CloudKmsKeyAndCert": {
      "properties": {
        "cloudKmsKey": {
          "$ref": "CloudKmsKey",
          "description": "Required. Cloud KMS key."
        },
        "pemCertificate": {
          "type": "string",
          "format": "byte",
          "description": "Required. Certificate associated with the key. The bytes must contain the certificate in PEM format."
        }
      },
      "type": "object",
      "description": "Cloud KMS key and the certificate associated with the key.",
      "id": "CloudKmsKeyAndCert"
    },
    "SystemApksListResponse": {
      "type": "object",
      "properties": {
        "variants": {
          "description": "All system APK variants created.",
          "type": "array",
          "items": {
            "$ref": "Variant"
          }
        }
      },
      "id": "SystemApksListResponse",
      "description": "Response to list previously created system APK variants."
    },
    "RenewalDeclinedContext": {
      "description": "Context related to renewal declined scenario.",
      "id": "RenewalDeclinedContext",
      "properties": {
        "pendingOrderId": {
          "type": "string",
          "description": "Required. The ID of the pending or failed order causing the state."
        }
      },
      "type": "object"
    },
    "DeployAppRecoveryRequest": {
      "type": "object",
      "properties": {},
      "description": "Request message for DeployAppRecovery.",
      "id": "DeployAppRecoveryRequest"
    },
    "AssetModuleMetadata": {
      "properties": {
        "deliveryType": {
          "description": "Indicates the delivery type for persistent install.",
          "enumDescriptions": [
            "Unspecified delivery type.",
            "This module will always be downloaded as part of the initial install of the app.",
            "This module is requested on-demand, which means it will not be part of the initial install, and will only be sent when requested by the client.",
            "This module will be downloaded immediately after initial install finishes. The app can be opened before these modules are downloaded."
          ],
          "type": "string",
          "enum": [
            "UNKNOWN_DELIVERY_TYPE",
            "INSTALL_TIME",
            "ON_DEMAND",
            "FAST_FOLLOW"
          ]
        },
        "name": {
          "description": "Module name.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Metadata of an asset module.",
      "id": "AssetModuleMetadata"
    },
    "FreeTrialDetails": {
      "description": "Details of a free trial pricing phase.",
      "type": "object",
      "properties": {},
      "id": "FreeTrialDetails"
    },
    "ApksAddExternallyHostedResponse": {
      "type": "object",
      "id": "ApksAddExternallyHostedResponse",
      "description": "Response for creating a new externally hosted APK.",
      "properties": {
        "externallyHostedApk": {
          "$ref": "ExternallyHostedApk",
          "description": "The definition of the externally-hosted APK and where it is located."
        }
      }
    },
    "UploadImageRequest": {
      "type": "object",
      "properties": {},
      "description": "Request to upload an image.",
      "id": "UploadImageRequest"
    },
    "UploadAppStoreAppPolicyDeclarationFileResponse": {
      "type": "object",
      "id": "UploadAppStoreAppPolicyDeclarationFileResponse",
      "description": "Response for uploading a policy declaration file.",
      "properties": {
        "fileId": {
          "type": "string",
          "description": "The unique ID of the uploaded file."
        }
      }
    },
    "OneTimeProductPreOrderOffer": {
      "properties": {
        "startTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Time when the pre-order will start being available."
        },
        "endTime": {
          "description": "Required. Time when the pre-order will stop being available.",
          "format": "google-datetime",
          "type": "string"
        },
        "priceChangeBehavior": {
          "type": "string",
          "enum": [
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_UNSPECIFIED",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_TWO_POINT_LOWEST",
            "PRE_ORDER_PRICE_CHANGE_BEHAVIOR_NEW_ORDERS_ONLY"
          ],
          "description": "Required. Immutable. Specifies how price changes affect pre-existing pre-orders.",
          "enumDescriptions": [
            "Unspecified price change behavior. Must not be used.",
            "The buyer gets charged the minimum between the initial price at the time of pre-order and the final offer price on the release date.",
            "The buyer gets the same price as the one they pre-ordered, regardless of any price changes that may have happened after the pre-order."
          ]
        },
        "releaseTime": {
          "type": "string",
          "format": "google-datetime",
          "description": "Required. Time on which the product associated with the pre-order will be released and the pre-order orders fulfilled."
        }
      },
      "id": "OneTimeProductPreOrderOffer",
      "description": "Configuration specific to pre-order offers.",
      "type": "object"
    },
    "CancelOneTimeProductOfferRequest": {
      "description": "Request message for CancelOneTimeProductOffer.",
      "type": "object",
      "properties": {
        "latencyTolerance": {
          "type": "string",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive."
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The parent purchase option (ID) of the offer to cancel."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the offer to cancel."
        },
        "offerId": {
          "description": "Required. The offer ID of the offer to cancel.",
          "type": "string"
        },
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to cancel.",
          "type": "string"
        }
      },
      "id": "CancelOneTimeProductOfferRequest"
    },
    "GeneratedAssetPackSlice": {
      "description": "Download metadata for an asset pack slice.",
      "id": "GeneratedAssetPackSlice",
      "properties": {
        "sliceId": {
          "description": "Asset slice ID.",
          "type": "string"
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module that this asset slice belongs to."
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "version": {
          "type": "string",
          "format": "int64",
          "description": "Asset module version."
        }
      },
      "type": "object"
    },
    "CreateAppStoreHostedAppRequest": {
      "properties": {
        "packageName": {
          "type": "string",
          "description": "Required. Package name of the app."
        }
      },
      "description": "Request to create a new app record for an app store hosted app.",
      "type": "object",
      "id": "CreateAppStoreHostedAppRequest"
    },
    "UploadApkRequest": {
      "properties": {},
      "description": "Request to upload an APK.",
      "id": "UploadApkRequest",
      "type": "object"
    },
    "ConvertedOtherRegionsPrice": {
      "type": "object",
      "description": "Converted other regions prices.",
      "properties": {
        "usdPrice": {
          "$ref": "Money",
          "description": "Price in USD to use for the \"Other regions\" location exclusive of taxes."
        },
        "eurPrice": {
          "$ref": "Money",
          "description": "Price in EUR to use for the \"Other regions\" location exclusive of taxes."
        }
      },
      "id": "ConvertedOtherRegionsPrice"
    },
    "TestPurchase": {
      "properties": {},
      "id": "TestPurchase",
      "type": "object",
      "description": "Whether this subscription purchase is a test purchase."
    },
    "DeferredItemReplacement": {
      "id": "DeferredItemReplacement",
      "properties": {
        "productId": {
          "description": "The product_id going to replace the existing product_id.",
          "type": "string"
        }
      },
      "description": "Information related to deferred item replacement.",
      "type": "object"
    },
    "FullRefund": {
      "description": "A full refund of the remaining amount of a transaction.",
      "type": "object",
      "id": "FullRefund",
      "properties": {}
    },
    "Group": {
      "id": "Group",
      "type": "object",
      "properties": {
        "responses": {
          "items": {
            "$ref": "NestedPolicyResponse"
          },
          "description": "Required. Responses within a group.",
          "type": "array"
        }
      },
      "description": "A group of responses."
    },
    "BatchUpdateOneTimeProductOfferStatesRequest": {
      "id": "BatchUpdateOneTimeProductOfferStatesRequest",
      "type": "object",
      "description": "Request message for BatchUpdateOneTimeProductOfferStates.",
      "properties": {
        "requests": {
          "items": {
            "$ref": "UpdateOneTimeProductOfferStateRequest"
          },
          "type": "array",
          "description": "Required. The update request list of up to 100 elements. All requests must update different offers."
        }
      }
    },
    "GeneratedApksPerSigningKey": {
      "type": "object",
      "description": "Download metadata for split, standalone and universal APKs, as well as asset pack slices, signed with a given key.",
      "id": "GeneratedApksPerSigningKey",
      "properties": {
        "unprotectedGeneratedStandaloneApks": {
          "description": "List of generated standalone APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_standalone_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "type": "array"
        },
        "targetingInfo": {
          "description": "Contains targeting information about the generated apks.",
          "$ref": "TargetingInfo"
        },
        "generatedUniversalApk": {
          "description": "Generated universal APK, signed with a key corresponding to certificate_sha256_hash. This field is not set if no universal APK was generated for this signing key.",
          "$ref": "GeneratedUniversalApk"
        },
        "generatedRecoveryModules": {
          "description": "Generated recovery apks for recovery actions signed with a key corresponding to certificate_sha256_hash. This includes all generated recovery APKs, also those in draft or cancelled state. This field is not set if no recovery actions were created for this signing key.",
          "items": {
            "$ref": "GeneratedRecoveryApk"
          },
          "type": "array"
        },
        "generatedAssetPackSlices": {
          "description": "List of asset pack slices which will be served for this app bundle, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array",
          "items": {
            "$ref": "GeneratedAssetPackSlice"
          }
        },
        "unprotectedGeneratedSplitApks": {
          "description": "List of generated split APKs without automatic protection, signed with a key corresponding to certificate_sha256_hash. This field is only present if the app uses automatic protection. In this case, `generated_split_apks` contains APKs with automatic protection enabled, whereas this field contains APKs without automatic protection.",
          "items": {
            "$ref": "GeneratedSplitApk"
          },
          "type": "array"
        },
        "generatedSplitApks": {
          "description": "List of generated split APKs, signed with a key corresponding to certificate_sha256_hash.",
          "type": "array",
          "items": {
            "$ref": "GeneratedSplitApk"
          }
        },
        "certificateSha256Hash": {
          "type": "string",
          "description": "SHA256 hash of the APK signing public key certificate."
        },
        "generatedStandaloneApks": {
          "type": "array",
          "items": {
            "$ref": "GeneratedStandaloneApk"
          },
          "description": "List of generated standalone APKs, signed with a key corresponding to certificate_sha256_hash."
        }
      }
    },
    "PurchaseStateContext": {
      "properties": {
        "purchaseState": {
          "type": "string",
          "readOnly": true,
          "enumDescriptions": [
            "Purchase state unspecified. This value should never be set.",
            "Purchased successfully.",
            "Purchase canceled.",
            "The purchase is in a pending state and has not yet been completed. For more information on handling pending purchases, see https://developer.android.com/google/play/billing/integrate#pending."
          ],
          "enum": [
            "PURCHASE_STATE_UNSPECIFIED",
            "PURCHASED",
            "CANCELLED",
            "PENDING"
          ],
          "description": "Output only. The purchase state of the purchase."
        }
      },
      "id": "PurchaseStateContext",
      "description": "Context about the purchase state.",
      "type": "object"
    },
    "BatchGetOrdersResponse": {
      "description": "Response for the orders.batchGet API.",
      "type": "object",
      "properties": {
        "orders": {
          "items": {
            "$ref": "Order"
          },
          "description": "Details for the requested order IDs.",
          "type": "array"
        }
      },
      "id": "BatchGetOrdersResponse"
    },
    "BatchUpdatePurchaseOptionStatesResponse": {
      "type": "object",
      "description": "Response message for BatchUpdatePurchaseOptionStates.",
      "properties": {
        "oneTimeProducts": {
          "items": {
            "$ref": "OneTimeProduct"
          },
          "description": "The list of updated one-time products. This list will match the requests one to one, in the same order.",
          "type": "array"
        }
      },
      "id": "BatchUpdatePurchaseOptionStatesResponse"
    },
    "ApkSet": {
      "description": "A set of apks representing a module.",
      "type": "object",
      "properties": {
        "moduleMetadata": {
          "$ref": "ModuleMetadata",
          "description": "Metadata about the module represented by this ApkSet"
        },
        "apkDescription": {
          "items": {
            "$ref": "ApkDescription"
          },
          "type": "array",
          "description": "Description of the generated apks."
        }
      },
      "id": "ApkSet"
    },
    "AcquisitionTargetingRule": {
      "properties": {
        "scope": {
          "$ref": "TargetingRuleScope",
          "description": "Required. The scope of subscriptions this rule considers. Only allows \"this subscription\" and \"any subscription in app\"."
        }
      },
      "type": "object",
      "description": "Represents a targeting rule of the form: User never had {scope} before.",
      "id": "AcquisitionTargetingRule"
    },
    "BasePriceOfferPhase": {
      "id": "BasePriceOfferPhase",
      "description": "Details about base price offer phase.",
      "properties": {},
      "type": "object"
    },
    "User": {
      "type": "object",
      "id": "User",
      "properties": {
        "name": {
          "description": "Required. Resource name for this user, following the pattern \"developers/{developer}/users/{email}\".",
          "type": "string"
        },
        "email": {
          "description": "Immutable. The user's email address.",
          "type": "string"
        },
        "developerAccountPermissions": {
          "type": "array",
          "description": "Permissions for the user which apply across the developer account.",
          "items": {
            "enum": [
              "DEVELOPER_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_SEE_ALL_APPS",
              "CAN_VIEW_FINANCIAL_DATA_GLOBAL",
              "CAN_MANAGE_PERMISSIONS_GLOBAL",
              "CAN_EDIT_GAMES_GLOBAL",
              "CAN_PUBLISH_GAMES_GLOBAL",
              "CAN_REPLY_TO_REVIEWS_GLOBAL",
              "CAN_MANAGE_PUBLIC_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_APKS_GLOBAL",
              "CAN_MANAGE_TRACK_USERS_GLOBAL",
              "CAN_MANAGE_PUBLIC_LISTING_GLOBAL",
              "CAN_MANAGE_DRAFT_APPS_GLOBAL",
              "CAN_CREATE_MANAGED_PLAY_APPS_GLOBAL",
              "CAN_CHANGE_MANAGED_PLAY_SETTING_GLOBAL",
              "CAN_MANAGE_ORDERS_GLOBAL",
              "CAN_MANAGE_APP_CONTENT_GLOBAL",
              "CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL",
              "CAN_VIEW_APP_QUALITY_GLOBAL",
              "CAN_MANAGE_DEEPLINKS_GLOBAL",
              "CAN_VIEW_CONNECTED_APPS_GLOBAL",
              "CAN_EDIT_CONNECTED_APPS_GLOBAL"
            ],
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "type": "string",
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information and download bulk reports (read-only). Deprecated: Check CAN_VIEW_NON_FINANCIAL_DATA_GLOBAL.",
              "View financial data, orders, and cancellation survey responses.",
              "Admin (all permissions).",
              "Edit Play Games Services projects.",
              "Publish Play Games Services projects.",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Create, edit, and delete draft apps.",
              "Create and publish private apps to your organization.",
              "Choose whether apps are public, or only available to your organization.",
              "Manage orders and subscriptions.",
              "Manage policy related pages on all apps for the developer.",
              "View app information and download bulk reports (read-only).",
              "View app quality information for all apps for the developer.",
              "Manage the deep links setup for all apps for the developer.",
              "Allows viewing connected apps in the Google Play Console.",
              "Allows editing connected apps in the Google Play Console."
            ]
          }
        },
        "grants": {
          "description": "Output only. Per-app permissions for the user.",
          "type": "array",
          "items": {
            "$ref": "Grant"
          },
          "readOnly": true
        },
        "expirationTime": {
          "description": "The time at which the user's access expires, if set. When setting this value, it must always be in the future.",
          "format": "google-datetime",
          "type": "string"
        },
        "partial": {
          "description": "Output only. Whether there are more permissions for the user that are not represented here. This can happen if the caller does not have permission to manage all apps in the account. This is also `true` if this user is the account owner. If this field is `true`, it should be taken as a signal that this user cannot be fully managed via the API. That is, the API caller is not be able to manage all of the permissions this user holds, either because it doesn't know about them or because the user is the account owner.",
          "readOnly": true,
          "type": "boolean"
        },
        "accessState": {
          "type": "string",
          "enumDescriptions": [
            "Unknown or unspecified access state.",
            "User is invited but has not yet accepted the invitation.",
            "Invitation has expired.",
            "User has accepted an invitation and has access to the Play Console.",
            "Account access has expired."
          ],
          "readOnly": true,
          "enum": [
            "ACCESS_STATE_UNSPECIFIED",
            "INVITED",
            "INVITATION_EXPIRED",
            "ACCESS_GRANTED",
            "ACCESS_EXPIRED"
          ],
          "description": "Output only. The state of the user's access to the Play Console."
        }
      },
      "description": "A user resource."
    },
    "EnrollAppRequest": {
      "id": "EnrollAppRequest",
      "type": "object",
      "description": "Request to enroll an app into Play App Signing using a self-hosted Cloud KMS key.",
      "properties": {
        "pemUploadCertificate": {
          "format": "byte",
          "type": "string",
          "description": "The certificate associated with the upload key, in PEM format."
        },
        "enrollExistingApp": {
          "$ref": "EnrollExistingApp",
          "description": "Enrolls an existing app into Play signing using an external Cloud KMS key."
        },
        "enrollNewApp": {
          "description": "Changes the signing key of a new app to an external Cloud KMS key. The app must not have published to Open testing or Production tracks.",
          "$ref": "EnrollNewApp"
        }
      }
    },
    "DeviceTier": {
      "type": "object",
      "id": "DeviceTier",
      "properties": {
        "level": {
          "description": "The priority level of the tier. Tiers are evaluated in descending order of level: the highest level tier has the highest priority. The highest tier matching a given device is selected for that device. You should use a contiguous range of levels for your tiers in a tier set; tier levels in a tier set must be unique. For instance, if your tier set has 4 tiers (including the global fallback), you should define tiers 1, 2 and 3 in this configuration. Note: tier 0 is implicitly defined as a global fallback and selected for devices that don't match any of the tiers explicitly defined here. You mustn't define level 0 explicitly in this configuration.",
          "format": "int32",
          "type": "integer"
        },
        "deviceGroupNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Groups of devices included in this tier. These groups must be defined explicitly under device_groups in this configuration."
        }
      },
      "description": "A single device tier. Devices matching any of the device groups in device_group_names are considered to match the tier."
    },
    "OrderHistory": {
      "id": "OrderHistory",
      "type": "object",
      "properties": {
        "cancellationEvent": {
          "$ref": "CancellationEvent",
          "description": "Details of when the order was canceled."
        },
        "partialRefundEvents": {
          "items": {
            "$ref": "PartialRefundEvent"
          },
          "description": "Details of the partial refund events for this order.",
          "type": "array"
        },
        "processedEvent": {
          "description": "Details of when the order was processed.",
          "$ref": "ProcessedEvent"
        },
        "refundEvent": {
          "$ref": "RefundEvent",
          "description": "Details of when the order was fully refunded."
        }
      },
      "description": "Details about events which modified the order."
    },
    "GeneratedApksListResponse": {
      "id": "GeneratedApksListResponse",
      "description": "Response to list generated APKs.",
      "type": "object",
      "properties": {
        "generatedApks": {
          "type": "array",
          "description": "All generated APKs, grouped by the APK signing key.",
          "items": {
            "$ref": "GeneratedApksPerSigningKey"
          }
        }
      }
    },
    "CompatibleScreen": {
      "id": "CompatibleScreen",
      "description": "Compatible screens as listed in the `compatible-screens` Manifest tag.",
      "type": "object",
      "properties": {
        "density": {
          "enum": [
            "DENSITY_UNSPECIFIED",
            "DENSITY_NODPI",
            "DENSITY_LDPI",
            "DENSITY_MDPI",
            "DENSITY_TVDPI",
            "DENSITY_HDPI",
            "DENSITY_280",
            "DENSITY_XHDPI",
            "DENSITY_360",
            "DENSITY_400",
            "DENSITY_420",
            "DENSITY_XXHDPI",
            "DENSITY_560",
            "DENSITY_XXXHDPI"
          ],
          "description": "Screen density.",
          "enumDescriptions": [
            "Unspecified density.",
            "No density.",
            "Low density.",
            "Medium density.",
            "TV density.",
            "High density.",
            "280 dpi.",
            "Extra high density.",
            "360 dpi.",
            "400 dpi.",
            "420 dpi.",
            "Extra extra high density.",
            "560 dpi.",
            "Extra extra extra high density."
          ],
          "type": "string"
        },
        "screenSize": {
          "enumDescriptions": [
            "Unspecified screen size.",
            "Small screen size.",
            "Normal screen size.",
            "Large screen size.",
            "Extra large screen size."
          ],
          "description": "The screen size.",
          "enum": [
            "SCREEN_SIZE_UNSPECIFIED",
            "SCREEN_SIZE_SMALL",
            "SCREEN_SIZE_NORMAL",
            "SCREEN_SIZE_LARGE",
            "SCREEN_SIZE_EXTRA_LARGE"
          ],
          "type": "string"
        }
      }
    },
    "OtherRegionsSubscriptionOfferPhaseConfig": {
      "id": "OtherRegionsSubscriptionOfferPhaseConfig",
      "description": "Configuration for any new locations Play may launch in for a single offer phase.",
      "properties": {
        "absoluteDiscounts": {
          "description": "The absolute amount of money subtracted from the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a $1 absolute discount for a phase of a duration of 3 months would correspond to a price of $2. The resulting price may not be smaller than the minimum price allowed for any new locations Play may launch in.",
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices"
        },
        "otherRegionsPrices": {
          "$ref": "OtherRegionsSubscriptionOfferPhasePrices",
          "description": "The absolute price the user pays for this offer phase. The price must not be smaller than the minimum price allowed for any new locations Play may launch in."
        },
        "relativeDiscount": {
          "type": "number",
          "description": "The fraction of the base plan price prorated over the phase duration that the user pays for this offer phase. For example, if the base plan price for this region is $12 for a period of 1 year, then a 50% discount for a phase of a duration of 3 months would correspond to a price of $1.50. The discount must be specified as a fraction strictly larger than 0 and strictly smaller than 1. The resulting price will be rounded to the nearest billable unit (e.g. cents for USD). The relative discount is considered invalid if the discounted price ends up being smaller than the minimum price allowed in any new locations Play may launch in.",
          "format": "double"
        },
        "free": {
          "description": "Set to specify this offer is free to obtain.",
          "$ref": "OtherRegionsSubscriptionOfferPhaseFreePriceOverride"
        }
      },
      "type": "object"
    },
    "DeactivatePurchaseOptionRequest": {
      "description": "Request message for UpdatePurchaseOptionState.",
      "id": "DeactivatePurchaseOptionRequest",
      "properties": {
        "productId": {
          "type": "string",
          "description": "Required. The parent one-time product (ID) of the purchase option to deactivate."
        },
        "purchaseOptionId": {
          "description": "Required. The purchase option ID of the purchase option to deactivate.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the purchase option to deactivate."
        },
        "latencyTolerance": {
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ]
        }
      },
      "type": "object"
    },
    "SubscriptionPurchasesAcknowledgeRequest": {
      "id": "SubscriptionPurchasesAcknowledgeRequest",
      "properties": {
        "developerPayload": {
          "description": "Payload to attach to the purchase.",
          "type": "string"
        },
        "externalAccountIds": {
          "$ref": "ExternalAccountIds",
          "description": "Optional. User account identifier in your app."
        }
      },
      "type": "object",
      "description": "Request for the purchases.subscriptions.acknowledge API."
    },
    "AddTargetingRequest": {
      "id": "AddTargetingRequest",
      "type": "object",
      "properties": {
        "targetingUpdate": {
          "$ref": "TargetingUpdate",
          "description": "Specifies targeting updates such as regions, android sdk versions etc."
        }
      },
      "description": "Request message for AddTargeting."
    },
    "Bundle": {
      "properties": {
        "sha1": {
          "type": "string",
          "description": "A sha1 hash of the upload payload, encoded as a hex string and matching the output of the sha1sum command."
        },
        "versionCode": {
          "type": "integer",
          "format": "int32",
          "description": "The version code of the Android App Bundle, as specified in the Android App Bundle's base module APK manifest file."
        },
        "sha256": {
          "description": "A sha256 hash of the upload payload, encoded as a hex string and matching the output of the sha256sum command.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "Information about an app bundle. The resource for BundlesService.",
      "id": "Bundle"
    },
    "BatchUpdateOneTimeProductsRequest": {
      "type": "object",
      "id": "BatchUpdateOneTimeProductsRequest",
      "description": "Request message for BatchUpdateOneTimeProduct.",
      "properties": {
        "requests": {
          "type": "array",
          "items": {
            "$ref": "UpdateOneTimeProductRequest"
          },
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different one-time products."
        }
      }
    },
    "CancellationContext": {
      "id": "CancellationContext",
      "properties": {
        "cancellationType": {
          "description": "Required. The type of cancellation for the purchased subscription.",
          "type": "string",
          "enumDescriptions": [
            "Cancellation type unspecified.",
            "Cancellation requested by the user, and the subscription can be restored. It only stops the subscription's next renewal. For an installment subscription, users still need to finish the commitment period. For more details on renewals and payments, see https://developer.android.com/google/play/billing/subscriptions#installments",
            "Cancellation requested by the developer, and the subscription cannot be restored. It stops the subscription's next payment. For an installment subscription, users will not need to pay the next payment and finish the commitment period. For more details on renewals and payments, see https://developer.android.com/google/play/billing/subscriptions#installments"
          ],
          "enum": [
            "CANCELLATION_TYPE_UNSPECIFIED",
            "USER_REQUESTED_STOP_RENEWALS",
            "DEVELOPER_REQUESTED_STOP_PAYMENTS"
          ]
        }
      },
      "type": "object",
      "description": "Cancellation context of the purchases.subscriptionsv2.cancel API."
    },
    "UserCountriesTargeting": {
      "id": "UserCountriesTargeting",
      "type": "object",
      "description": "Describes an inclusive/exclusive list of country codes that module targets.",
      "properties": {
        "countryCodes": {
          "description": "List of country codes in the two-letter CLDR territory format.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "exclude": {
          "type": "boolean",
          "description": "Indicates if the list above is exclusive."
        }
      }
    },
    "ProductLineItem": {
      "type": "object",
      "id": "ProductLineItem",
      "properties": {
        "productId": {
          "description": "The purchased product ID (for example, 'monthly001').",
          "type": "string"
        },
        "productOfferDetails": {
          "$ref": "ProductOfferDetails",
          "description": "The offer details for this item."
        }
      },
      "description": "Contains item-level info for a ProductPurchaseV2."
    },
    "InappproductsUpdateRequest": {
      "properties": {
        "autoConvertMissingPrices": {
          "description": "If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.",
          "type": "boolean"
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string"
        },
        "packageName": {
          "description": "Package name of the app.",
          "type": "string"
        },
        "allowMissing": {
          "description": "If set to true, and the in-app product with the given package_name and sku doesn't exist, the in-app product will be created.",
          "type": "boolean"
        },
        "inappproduct": {
          "description": "The new in-app product.",
          "$ref": "InAppProduct"
        },
        "sku": {
          "type": "string",
          "description": "Unique identifier for the in-app product."
        }
      },
      "description": "Request to update an in-app product.",
      "id": "InappproductsUpdateRequest",
      "type": "object"
    },
    "BatchGetOneTimeProductOffersRequest": {
      "id": "BatchGetOneTimeProductOffersRequest",
      "properties": {
        "requests": {
          "items": {
            "$ref": "GetOneTimeProductOfferRequest"
          },
          "type": "array",
          "description": "Required. A list of get requests of up to 100 elements. All requests must retrieve different offers."
        }
      },
      "type": "object",
      "description": "Request message for the BatchGetOneTimeProductOffers endpoint."
    },
    "InappproductsBatchDeleteRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Individual delete requests. At least one request is required. Can contain up to 100 requests. All requests must correspond to different in-app products.",
          "items": {
            "$ref": "InappproductsDeleteRequest"
          }
        }
      },
      "type": "object",
      "id": "InappproductsBatchDeleteRequest",
      "description": "Request to delete multiple in-app products."
    },
    "TargetingRuleScopeThisSubscription": {
      "type": "object",
      "properties": {},
      "description": "Represents the targeting rule scope corresponding to the subscriptions in which this offer is defined.",
      "id": "TargetingRuleScopeThisSubscription"
    },
    "UploadAppStoreAppPolicyDeclarationFileRequest": {
      "description": "Request to upload a policy declaration file.",
      "properties": {
        "fileType": {
          "type": "string",
          "enum": [
            "DECLARATION_FILE_TYPE_UNSPECIFIED",
            "DECLARATION_FILE_TYPE_DOCUMENT"
          ],
          "description": "Required. Type of the policy declaration file.",
          "enumDescriptions": [
            "Unspecified file type.",
            "File type for PDF, JPEG, and PNG documents."
          ]
        }
      },
      "type": "object",
      "id": "UploadAppStoreAppPolicyDeclarationFileRequest"
    },
    "BatchDeleteOneTimeProductsRequest": {
      "description": "Request message for BatchDeleteOneTimeProduct.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of delete requests of up to 100 elements. All requests must delete different one-time products.",
          "items": {
            "$ref": "DeleteOneTimeProductRequest"
          },
          "type": "array"
        }
      },
      "id": "BatchDeleteOneTimeProductsRequest"
    },
    "AutoRenewingBasePlanType": {
      "description": "Represents a base plan that automatically renews at the end of its subscription period.",
      "type": "object",
      "properties": {
        "gracePeriodDuration": {
          "type": "string",
          "description": "Grace period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and the lesser of 30D and base plan billing period. If not specified, a default value will be used based on the billing period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        },
        "resubscribeState": {
          "enum": [
            "RESUBSCRIBE_STATE_UNSPECIFIED",
            "RESUBSCRIBE_STATE_ACTIVE",
            "RESUBSCRIBE_STATE_INACTIVE"
          ],
          "type": "string",
          "description": "Whether users should be able to resubscribe to this base plan in Google Play surfaces. Defaults to RESUBSCRIBE_STATE_ACTIVE if not specified.",
          "enumDescriptions": [
            "Unspecified state.",
            "Resubscribe is active.",
            "Resubscribe is inactive."
          ]
        },
        "legacyCompatible": {
          "description": "Whether the renewing base plan is backward compatible. The backward compatible base plan is returned by the Google Play Billing Library deprecated method querySkuDetailsAsync(). Only one renewing base plan can be marked as legacy compatible for a given subscription.",
          "type": "boolean"
        },
        "prorationMode": {
          "description": "The proration mode for the base plan determines what happens when a user switches to this plan from another base plan. If unspecified, defaults to CHARGE_ON_NEXT_BILLING_DATE.",
          "enumDescriptions": [
            "Unspecified mode.",
            "Users will be charged for their new base plan at the end of their current billing period.",
            "Users will be charged for their new base plan immediately and in full. Any remaining period of their existing subscription will be used to extend the duration of the new billing plan."
          ],
          "type": "string",
          "enum": [
            "SUBSCRIPTION_PRORATION_MODE_UNSPECIFIED",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_ON_NEXT_BILLING_DATE",
            "SUBSCRIPTION_PRORATION_MODE_CHARGE_FULL_PRICE_IMMEDIATELY"
          ]
        },
        "legacyCompatibleSubscriptionOfferId": {
          "description": "Subscription offer id which is legacy compatible. The backward compatible subscription offer is returned by the Google Play Billing Library deprecated method querySkuDetailsAsync(). Only one subscription offer can be marked as legacy compatible for a given renewing base plan. To have no Subscription offer as legacy compatible set this field as empty string.",
          "type": "string"
        },
        "accountHoldDuration": {
          "type": "string",
          "description": "Optional. Custom account hold period of the subscription, specified in ISO 8601 format. Acceptable values must be in days and between P0D and P60D. An empty field represents a recommended account hold, calculated as 60 days minus grace period. The sum of gracePeriodDuration and accountHoldDuration must be between P30D and P60D days, inclusive."
        },
        "billingPeriodDuration": {
          "description": "Required. Immutable. Subscription period, specified in ISO 8601 format. For a list of acceptable billing periods, refer to the help center. The duration is immutable after the base plan is created.",
          "type": "string"
        }
      },
      "id": "AutoRenewingBasePlanType"
    },
    "UploadApkResponse": {
      "id": "UploadApkResponse",
      "properties": {
        "apkId": {
          "description": "The unique ID of the uploaded APK.",
          "type": "string"
        }
      },
      "description": "Response for uploading an APK.",
      "type": "object"
    },
    "TargetingInfo": {
      "type": "object",
      "properties": {
        "packageName": {
          "type": "string",
          "description": "The package name of this app."
        },
        "variant": {
          "items": {
            "$ref": "SplitApkVariant"
          },
          "description": "List of the created variants.",
          "type": "array"
        },
        "assetSliceSet": {
          "description": "List of created asset slices.",
          "items": {
            "$ref": "AssetSliceSet"
          },
          "type": "array"
        }
      },
      "id": "TargetingInfo",
      "description": "Targeting information about the generated apks."
    },
    "ScreenDensityTargeting": {
      "id": "ScreenDensityTargeting",
      "type": "object",
      "properties": {
        "alternatives": {
          "items": {
            "$ref": "ScreenDensity"
          },
          "type": "array",
          "description": "Targeting of other sibling directories that were in the Bundle. For main splits this is targeting of other main splits."
        },
        "value": {
          "description": "Value of a screen density.",
          "type": "array",
          "items": {
            "$ref": "ScreenDensity"
          }
        }
      },
      "description": "Targeting based on screen density."
    },
    "BatchUpdateBasePlanStatesRequest": {
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. The update request list of up to 100 elements. All requests must update different base plans.",
          "items": {
            "$ref": "UpdateBasePlanStateRequest"
          }
        }
      },
      "description": "Request message for BatchUpdateBasePlanStates.",
      "id": "BatchUpdateBasePlanStatesRequest",
      "type": "object"
    },
    "ImagesDeleteAllResponse": {
      "type": "object",
      "id": "ImagesDeleteAllResponse",
      "description": "Response for deleting all images.",
      "properties": {
        "deleted": {
          "type": "array",
          "description": "The deleted images.",
          "items": {
            "$ref": "Image"
          }
        }
      }
    },
    "BatchMigrateBasePlanPricesResponse": {
      "properties": {
        "responses": {
          "items": {
            "$ref": "MigrateBasePlanPricesResponse"
          },
          "description": "Contains one response per requested price migration, in the same order as the request.",
          "type": "array"
        }
      },
      "description": "Response message for BatchMigrateBasePlanPrices.",
      "id": "BatchMigrateBasePlanPricesResponse",
      "type": "object"
    },
    "Regions": {
      "type": "object",
      "properties": {
        "regionCode": {
          "description": "Regions targeted by the recovery action. Region codes are ISO 3166 Alpha-2 country codes. For example, US stands for United States of America. See https://www.iso.org/iso-3166-country-codes.html for the complete list of country codes.",
          "type": "array",
          "items": {
            "type": "string"
          }
        }
      },
      "description": "Region targeting data for app recovery action targeting.",
      "id": "Regions"
    },
    "DeviceFeatureTargeting": {
      "id": "DeviceFeatureTargeting",
      "type": "object",
      "properties": {
        "requiredFeature": {
          "description": "Feature of the device.",
          "$ref": "DeviceFeature"
        }
      },
      "description": "Targeting for a device feature."
    },
    "ListOneTimeProductOffersResponse": {
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "oneTimeProductOffers": {
          "type": "array",
          "description": "The one_time_product offers from the specified request.",
          "items": {
            "$ref": "OneTimeProductOffer"
          }
        }
      },
      "id": "ListOneTimeProductOffersResponse",
      "type": "object",
      "description": "Response message for ListOneTimeProductOffers."
    },
    "AppStoreAppStoreListing": {
      "description": "A localized store listing. These are the details about the app as shown in your app store.",
      "type": "object",
      "id": "AppStoreAppStoreListing",
      "properties": {
        "fullDescription": {
          "type": "string",
          "description": "Required. Comprehensive description text about the app."
        },
        "appIconId": {
          "description": "Required. Image ID generated from UploadImage for the main app icon.",
          "type": "string"
        },
        "videoLink": {
          "description": "Optional. Link to a video about the app.",
          "type": "string"
        },
        "languageCode": {
          "description": "Required. Language code (e.g., \"en-US\") of the listing.",
          "type": "string"
        },
        "screenshotId": {
          "type": "array",
          "description": "Required. Multiple image IDs for screenshot galleries.",
          "items": {
            "type": "string"
          }
        },
        "appName": {
          "description": "Required. The title of the app.",
          "type": "string"
        },
        "shortDescription": {
          "type": "string",
          "description": "Optional. Quick summary about the app."
        }
      }
    },
    "UserInitiatedCancellation": {
      "type": "object",
      "id": "UserInitiatedCancellation",
      "description": "Information specific to cancellations initiated by users.",
      "properties": {
        "cancelTime": {
          "description": "The time at which the subscription was canceled by the user. The user might still have access to the subscription after this time. Use line_items.expiry_time to determine if a user still has access.",
          "type": "string",
          "format": "google-datetime"
        },
        "cancelSurveyResult": {
          "description": "Information provided by the user when they complete the subscription cancellation flow (cancellation reason survey).",
          "$ref": "CancelSurveyResult"
        }
      }
    },
    "TrackTargetedCountry": {
      "type": "object",
      "properties": {
        "countryCode": {
          "description": "The country that can be targeted, as a two-letter CLDR code.",
          "type": "string"
        }
      },
      "description": "Representation of a single country where the contents of a track can be made available.",
      "id": "TrackTargetedCountry"
    },
    "DeactivateSubscriptionOfferRequest": {
      "description": "Request message for DeactivateSubscriptionOffer.",
      "type": "object",
      "properties": {
        "packageName": {
          "description": "Required. The parent app (package name) of the offer to deactivate.",
          "type": "string"
        },
        "latencyTolerance": {
          "type": "string",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "productId": {
          "type": "string",
          "description": "Required. The parent subscription (ID) of the offer to deactivate."
        },
        "offerId": {
          "description": "Required. The unique offer ID of the offer to deactivate.",
          "type": "string"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The parent base plan (ID) of the offer to deactivate."
        }
      },
      "id": "DeactivateSubscriptionOfferRequest"
    },
    "MigrateBasePlanPricesRequest": {
      "type": "object",
      "id": "MigrateBasePlanPricesRequest",
      "properties": {
        "regionsVersion": {
          "description": "Required. The version of the available regions being used for the regional_price_migrations.",
          "$ref": "RegionsVersion"
        },
        "basePlanId": {
          "type": "string",
          "description": "Required. The unique base plan ID of the base plan to update prices on."
        },
        "regionalPriceMigrations": {
          "items": {
            "$ref": "RegionalPriceMigrationConfig"
          },
          "type": "array",
          "description": "Required. The regional prices to update."
        },
        "packageName": {
          "type": "string",
          "description": "Required. Package name of the parent app. Must be equal to the package_name field on the Subscription resource."
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string",
          "description": "Optional. The latency tolerance for the propagation of this product update. Defaults to latency-sensitive."
        },
        "productId": {
          "description": "Required. The ID of the subscription to update. Must be equal to the product_id field on the Subscription resource.",
          "type": "string"
        }
      },
      "description": "Request message for MigrateBasePlanPrices."
    },
    "OneTimeExternalTransaction": {
      "description": "Represents a one-time transaction.",
      "properties": {
        "externalTransactionToken": {
          "type": "string",
          "description": "Input only. Provided during the call to Create. Retrieved from the client when the alternative billing flow is launched."
        }
      },
      "id": "OneTimeExternalTransaction",
      "type": "object"
    },
    "TracksListResponse": {
      "type": "object",
      "id": "TracksListResponse",
      "properties": {
        "kind": {
          "type": "string",
          "description": "The kind of this response (\"androidpublisher#tracksListResponse\")."
        },
        "tracks": {
          "type": "array",
          "description": "All tracks (including tracks with no releases).",
          "items": {
            "$ref": "Track"
          }
        }
      },
      "description": "Response listing all tracks."
    },
    "ExternalOfferDetails": {
      "id": "ExternalOfferDetails",
      "description": "Reporting details unique to the external offers program.",
      "type": "object",
      "properties": {
        "appDownloadEventExternalTransactionId": {
          "description": "Optional. The external transaction id associated with the app download event through an external link. Required when reporting transactions made in externally installed apps.",
          "type": "string"
        },
        "linkType": {
          "enum": [
            "EXTERNAL_OFFER_LINK_TYPE_UNSPECIFIED",
            "LINK_TO_DIGITAL_CONTENT_OFFER",
            "LINK_TO_APP_DOWNLOAD"
          ],
          "type": "string",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "An offer to purchase digital content.",
            "An app install."
          ],
          "description": "Optional. The type of content being reported by this transaction. Required when reporting app downloads or purchased digital content offers made in app installed through Google Play."
        },
        "installedAppPackage": {
          "type": "string",
          "description": "Optional. The package name of the app downloaded through this transaction. Required when link_type is LINK_TO_APP_DOWNLOAD."
        },
        "installedAppCategory": {
          "enum": [
            "EXTERNAL_OFFER_APP_CATEGORY_UNSPECIFIED",
            "APP",
            "GAME"
          ],
          "description": "Optional. The category of the downloaded app though this transaction. This must match the category provided in Play Console during the external app verification process. Only required for app downloads.",
          "type": "string",
          "enumDescriptions": [
            "Unspecified, do not use.",
            "The app is classified under the app category.",
            "The app is classified under the game category."
          ]
        }
      }
    },
    "ReviewsListResponse": {
      "properties": {
        "pageInfo": {
          "description": "Information about the current page.",
          "$ref": "PageInfo"
        },
        "tokenPagination": {
          "description": "Pagination token, to handle a number of products that is over one page.",
          "$ref": "TokenPagination"
        },
        "reviews": {
          "type": "array",
          "items": {
            "$ref": "Review"
          },
          "description": "List of reviews."
        }
      },
      "id": "ReviewsListResponse",
      "type": "object",
      "description": "Response listing reviews."
    },
    "RevokeSubscriptionPurchaseRequest": {
      "description": "Request for the purchases.subscriptionsv2.revoke API.",
      "properties": {
        "revocationContext": {
          "$ref": "RevocationContext",
          "description": "Required. Additional details around the subscription revocation."
        }
      },
      "type": "object",
      "id": "RevokeSubscriptionPurchaseRequest"
    },
    "SubscriptionListing": {
      "id": "SubscriptionListing",
      "description": "The consumer-visible metadata of a subscription.",
      "properties": {
        "benefits": {
          "description": "A list of benefits shown to the user on platforms such as the Play Store and in restoration flows in the language of this listing. Plain text. Ordered list of at most four benefits.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "languageCode": {
          "description": "Required. The language of this listing, as defined by BCP-47, e.g. \"en-US\".",
          "type": "string"
        },
        "title": {
          "description": "Required. The title of this subscription in the language of this listing. Plain text.",
          "type": "string"
        },
        "description": {
          "description": "The description of this subscription in the language of this listing. Maximum length - 200 characters. Plain text.",
          "type": "string"
        }
      },
      "type": "object"
    },
    "GeneratedRecoveryApk": {
      "type": "object",
      "description": "Download metadata for an app recovery module.",
      "properties": {
        "recoveryStatus": {
          "enumDescriptions": [
            "RecoveryStatus is unspecified.",
            "The app recovery action has not been canceled since it has been created.",
            "The recovery action has been canceled. The action cannot be resumed.",
            "The recovery action is in the draft state and has not yet been deployed to users.",
            "The recovery action is generating recovery apks.",
            "The app recovery action generation has failed."
          ],
          "description": "The status of the recovery action corresponding to the recovery apk.",
          "enum": [
            "RECOVERY_STATUS_UNSPECIFIED",
            "RECOVERY_STATUS_ACTIVE",
            "RECOVERY_STATUS_CANCELED",
            "RECOVERY_STATUS_DRAFT",
            "RECOVERY_STATUS_GENERATION_IN_PROGRESS",
            "RECOVERY_STATUS_GENERATION_FAILED"
          ],
          "type": "string"
        },
        "downloadId": {
          "description": "Download ID, which uniquely identifies the APK to download. Should be supplied to `generatedapks.download` method.",
          "type": "string"
        },
        "recoveryId": {
          "type": "string",
          "format": "int64",
          "description": "ID of the recovery action."
        },
        "moduleName": {
          "type": "string",
          "description": "Name of the module which recovery apk belongs to."
        }
      },
      "id": "GeneratedRecoveryApk"
    },
    "RotateAppSigningKeyRequest": {
      "id": "RotateAppSigningKeyRequest",
      "properties": {
        "rotatedCloudKmsKey": {
          "description": "Required. Self-hosted Cloud KMS key.",
          "$ref": "RotatedCloudKmsKey"
        },
        "keyRotationReason": {
          "type": "string",
          "description": "Required. Reason for rotating the app key.",
          "enum": [
            "KEY_ROTATION_REASON_UNSPECIFIED",
            "COMPROMISED_KEY",
            "USE_STRONGER_KEY",
            "USE_SAME_KEY_FOR_MULTIPLE_APPS",
            "ROUTINE_KEY_UPGRADE",
            "OTHER"
          ],
          "enumDescriptions": [
            "Unspecified key rotation reason. Cannot be used.",
            "Key is compromised.",
            "Stronger key is required.",
            "Same key is used for multiple apps.",
            "Routine key upgrade.",
            "Other reason."
          ]
        }
      },
      "description": "Request to rotate an app's signing key.",
      "type": "object"
    },
    "TokenPagination": {
      "properties": {
        "previousPageToken": {
          "type": "string"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Tokens to pass to the standard list field 'page_token'. Whenever available, tokens are preferred over manipulating start_index."
        }
      },
      "id": "TokenPagination",
      "description": "Pagination information returned by a List operation when token pagination is enabled. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned. When using token pagination, clients should use the next/previous token to get another page of the result. The presence or absence of next/previous token indicates whether a next/previous page is available and provides a mean of accessing this page. ListRequest.page_token should be set to either next_page_token or previous_page_token to access another page.",
      "type": "object"
    },
    "ExpansionFile": {
      "description": "An expansion file. The resource for ExpansionFilesService.",
      "type": "object",
      "id": "ExpansionFile",
      "properties": {
        "referencesVersion": {
          "format": "int32",
          "description": "If set, this APK's expansion file references another APK's expansion file. The file_size field will not be set.",
          "type": "integer"
        },
        "fileSize": {
          "type": "string",
          "description": "If set, this field indicates that this APK has an expansion file uploaded to it: this APK does not reference another APK's expansion file. The field's value is the size of the uploaded expansion file in bytes.",
          "format": "int64"
        }
      }
    },
    "ActivateOneTimeProductOfferRequest": {
      "description": "Request message for ActivateOneTimeProductOffer.",
      "type": "object",
      "properties": {
        "productId": {
          "description": "Required. The parent one-time product (ID) of the offer to activate.",
          "type": "string"
        },
        "packageName": {
          "type": "string",
          "description": "Required. The parent app (package name) of the offer to activate."
        },
        "offerId": {
          "type": "string",
          "description": "Required. The offer ID of the offer to activate."
        },
        "purchaseOptionId": {
          "type": "string",
          "description": "Required. The parent purchase option (ID) of the offer to activate."
        },
        "latencyTolerance": {
          "enum": [
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_UNSPECIFIED",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE",
            "PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_TOLERANT"
          ],
          "description": "Optional. The latency tolerance for the propagation of this update. Defaults to latency-sensitive.",
          "enumDescriptions": [
            "Defaults to PRODUCT_UPDATE_LATENCY_TOLERANCE_LATENCY_SENSITIVE.",
            "The update will propagate to clients within several minutes on average and up to a few hours in rare cases. Throughput is limited to 7,200 updates per app per hour.",
            "The update will propagate to clients within 24 hours. Supports high throughput of up to 720,000 updates per app per hour using batch modification methods."
          ],
          "type": "string"
        }
      },
      "id": "ActivateOneTimeProductOfferRequest"
    },
    "BatchUpdateSubscriptionOffersRequest": {
      "description": "Request message for BatchUpdateSubscriptionOffers.",
      "type": "object",
      "properties": {
        "requests": {
          "description": "Required. A list of update requests of up to 100 elements. All requests must update different subscription offers.",
          "type": "array",
          "items": {
            "$ref": "UpdateSubscriptionOfferRequest"
          }
        }
      },
      "id": "BatchUpdateSubscriptionOffersRequest"
    },
    "CloudKmsKey": {
      "id": "CloudKmsKey",
      "description": "Reference to a private key hosted in developer-managed Google Cloud KMS.",
      "type": "object",
      "properties": {
        "cryptoKeyVersionResource": {
          "type": "string",
          "description": "Required. Resource identifier of the private key hosted in Google Cloud KMS. The Google Play service account must be granted Decrypt and Sign permissions on this resource. Format: projects//locations//keyRings//cryptoKeys//cryptoKeyVersions/"
        }
      }
    },
    "RegionalSubscriptionOfferPhaseFreePriceOverride": {
      "description": "Represents the free price override configuration for a single phase of a subscription offer",
      "type": "object",
      "id": "RegionalSubscriptionOfferPhaseFreePriceOverride",
      "properties": {}
    },
    "TargetingRuleScope": {
      "description": "Defines the scope of subscriptions which a targeting rule can match to target offers to users based on past or current entitlement.",
      "properties": {
        "anySubscriptionInApp": {
          "$ref": "TargetingRuleScopeAnySubscriptionInApp",
          "description": "The scope of the current targeting rule is any subscription in the parent app."
        },
        "thisSubscription": {
          "description": "The scope of the current targeting rule is the subscription in which this offer is defined.",
          "$ref": "TargetingRuleScopeThisSubscription"
        },
        "specificSubscriptionInApp": {
          "description": "The scope of the current targeting rule is the subscription with the specified subscription ID. Must be a subscription within the same parent app.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "TargetingRuleScope"
    },
    "CancelSurveyResult": {
      "id": "CancelSurveyResult",
      "description": "Result of the cancel survey when the subscription was canceled by the user.",
      "properties": {
        "reasonUserInput": {
          "type": "string",
          "description": "Only set for CANCEL_SURVEY_REASON_OTHERS. This is the user's freeform response to the survey."
        },
        "reason": {
          "description": "The reason the user selected in the cancel survey.",
          "enumDescriptions": [
            "Unspecified cancel survey reason.",
            "Not enough usage of the subscription.",
            "Technical issues while using the app.",
            "Cost related issues.",
            "The user found a better app.",
            "Other reasons."
          ],
          "type": "string",
          "enum": [
            "CANCEL_SURVEY_REASON_UNSPECIFIED",
            "CANCEL_SURVEY_REASON_NOT_ENOUGH_USAGE",
            "CANCEL_SURVEY_REASON_TECHNICAL_ISSUES",
            "CANCEL_SURVEY_REASON_COST_RELATED",
            "CANCEL_SURVEY_REASON_FOUND_BETTER_APP",
            "CANCEL_SURVEY_REASON_OTHERS"
          ]
        }
      },
      "type": "object"
    },
    "CanceledStateContext": {
      "description": "Information specific to a subscription in the SUBSCRIPTION_STATE_CANCELED or SUBSCRIPTION_STATE_EXPIRED state.",
      "properties": {
        "replacementCancellation": {
          "description": "Subscription was replaced by a new subscription.",
          "$ref": "ReplacementCancellation"
        },
        "developerInitiatedCancellation": {
          "description": "Subscription was canceled by the developer.",
          "$ref": "DeveloperInitiatedCancellation"
        },
        "systemInitiatedCancellation": {
          "$ref": "SystemInitiatedCancellation",
          "description": "Subscription was canceled by the system, for example because of a billing problem."
        },
        "userInitiatedCancellation": {
          "description": "Subscription was canceled by user.",
          "$ref": "UserInitiatedCancellation"
        }
      },
      "type": "object",
      "id": "CanceledStateContext"
    },
    "PageInfo": {
      "description": "Information about the current page. List operations that supports paging return only one \"page\" of results. This protocol buffer message describes the page that has been returned.",
      "id": "PageInfo",
      "properties": {
        "resultPerPage": {
          "format": "int32",
          "type": "integer",
          "description": "Maximum number of results returned in one page. ! The number of results included in the API response."
        },
        "totalResults": {
          "description": "Total number of results available on the backend ! The total number of results in the result set.",
          "type": "integer",
          "format": "int32"
        },
        "startIndex": {
          "format": "int32",
          "description": "Index of the first result returned in the current page.",
          "type": "integer"
        }
      },
      "type": "object"
    },
    "ReviewsReplyResponse": {
      "properties": {
        "result": {
          "description": "The result of replying/updating a reply to review.",
          "$ref": "ReviewReplyResult"
        }
      },
      "id": "ReviewsReplyResponse",
      "type": "object",
      "description": "Response on status of replying to a review."
    },
    "TrackRelease": {
      "description": "A release within a track.",
      "type": "object",
      "id": "TrackRelease",
      "properties": {
        "userFraction": {
          "description": "Fraction of users who are eligible for a staged release. 0 \u003c fraction \u003c 1. Can only be set when status is \"inProgress\" or \"halted\".",
          "type": "number",
          "format": "double"
        },
        "countryTargeting": {
          "description": "Restricts a release to a specific set of countries. Note this is only allowed to be set for inProgress releases in the production track.",
          "$ref": "CountryTargeting"
        },
        "releaseNotes": {
          "description": "A description of what is new in this release.",
          "items": {
            "$ref": "LocalizedText"
          },
          "type": "array"
        },
        "status": {
          "enum": [
            "statusUnspecified",
            "draft",
            "inProgress",
            "halted",
            "completed"
          ],
          "type": "string",
          "description": "The status of the release.",
          "enumDescriptions": [
            "Unspecified status.",
            "The release's APKs are not being served to users.",
            "The release's APKs are being served to a fraction of users, determined by 'user_fraction'.",
            "The release's APKs will no longer be served to users. Users who already have these APKs are unaffected.",
            "The release will have no further changes. Its APKs are being served to all users, unless they are eligible to APKs of a more recent release."
          ]
        },
        "name": {
          "type": "string",
          "description": "The release name. Not required to be unique. If not set, the name is generated from the APK's version_name. If the release contains multiple APKs, the name is generated from the date."
        },
        "versionCodes": {
          "items": {
            "format": "int64",
            "type": "string"
          },
          "type": "array",
          "description": "Version codes of all APKs in the release. Must include version codes to retain from previous releases."
        },
        "inAppUpdatePriority": {
          "type": "integer",
          "description": "In-app update priority of the release. All newly added APKs in the release will be considered at this priority. Can take values in the range [0, 5], with 5 the highest priority. Defaults to 0. in_app_update_priority can not be updated once the release is rolled out. See https://developer.android.com/guide/playcore/in-app-updates.",
          "format": "int32"
        }
      }
    },
    "ApkDescription": {
      "type": "object",
      "id": "ApkDescription",
      "description": "Description of the created apks.",
      "properties": {
        "instantApkMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for Instant split APKs."
        },
        "assetSliceMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for asset slices."
        },
        "standaloneApkMetadata": {
          "$ref": "StandaloneApkMetadata",
          "description": "Set only for standalone APKs."
        },
        "path": {
          "type": "string",
          "description": "Path of the Apk, will be in the following format: .apk where DownloadId is the ID used to download the apk using GeneratedApks.Download API."
        },
        "targeting": {
          "$ref": "ApkTargeting",
          "description": "Apk-level targeting."
        },
        "splitApkMetadata": {
          "$ref": "SplitApkMetadata",
          "description": "Set only for Split APKs."
        }
      }
    },
    "Review": {
      "id": "Review",
      "properties": {
        "reviewId": {
          "description": "Unique identifier for this review.",
          "type": "string"
        },
        "comments": {
          "items": {
            "$ref": "Comment"
          },
          "type": "array",
          "description": "A repeated field containing comments for the review."
        },
        "authorName": {
          "description": "The name of the user who wrote the review.",
          "type": "string"
        }
      },
      "type": "object",
      "description": "An Android app review."
    },
    "ItemReplacement": {
      "description": "Details about a subscription line item that is being replaced.",
      "properties": {
        "replacementMode": {
          "type": "string",
          "enumDescriptions": [
            "Unspecified replacement mode.",
            "The new plan will be prorated and credited from the old plan.",
            "The user will be charged a prorated price for the new plan.",
            "The new plan will replace the old one without prorating the time.",
            "The user will be charged the full price for the new plan.",
            "The old plan will be cancelled and the new plan will be effective after the old one expires.",
            "The plan will remain unchanged with this replacement."
          ],
          "enum": [
            "REPLACEMENT_MODE_UNSPECIFIED",
            "WITH_TIME_PRORATION",
            "CHARGE_PRORATED_PRICE",
            "WITHOUT_PRORATION",
            "CHARGE_FULL_PRICE",
            "DEFERRED",
            "KEEP_EXISTING"
          ],
          "description": "The replacement mode applied during the purchase."
        },
        "offerId": {
          "type": "string",
          "description": "The offer ID of the subscription line item being replaced, if applicable."
        },
        "basePlanId": {
          "type": "string",
          "description": "The base plan ID of the subscription line item being replaced."
        },
        "productId": {
          "description": "The product ID of the subscription line item being replaced.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "ItemReplacement"
    },
    "BundlesListResponse": {
      "type": "object",
      "properties": {
        "kind": {
          "description": "The kind of this response (\"androidpublisher#bundlesListResponse\").",
          "type": "string"
        },
        "bundles": {
          "items": {
            "$ref": "Bundle"
          },
          "type": "array",
          "description": "All app bundles."
        }
      },
      "description": "Response listing all app bundles.",
      "id": "BundlesListResponse"
    },
    "Grant": {
      "type": "object",
      "id": "Grant",
      "description": "An access grant resource.",
      "properties": {
        "packageName": {
          "description": "Immutable. The package name of the app. This will be empty for draft apps.",
          "type": "string"
        },
        "name": {
          "type": "string",
          "description": "Required. Resource name for this grant, following the pattern \"developers/{developer}/users/{email}/grants/{package_name}\". If this grant is for a draft app, the app ID will be used in this resource name instead of the package name."
        },
        "appLevelPermissions": {
          "items": {
            "enumDeprecated": [
              false,
              true,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false,
              false
            ],
            "enumDescriptions": [
              "Unknown or unspecified permission.",
              "View app information (read-only). Deprecated: Try defining a more granular capability. Otherwise, check AppLevelPermission.CAN_VIEW_NON_FINANCIAL_DATA.",
              "View financial data.",
              "Admin (all permissions).",
              "Reply to reviews.",
              "Release to production, exclude devices, and use app signing by Google Play.",
              "Release to testing tracks.",
              "Manage testing tracks and edit tester lists.",
              "Manage store presence.",
              "Edit and delete draft apps.",
              "Manage orders and subscriptions.",
              "Manage policy related pages.",
              "View app information (read-only).",
              "View app quality data such as Vitals, Crashes etc.",
              "Manage the deep links setup of an app."
            ],
            "enum": [
              "APP_LEVEL_PERMISSION_UNSPECIFIED",
              "CAN_ACCESS_APP",
              "CAN_VIEW_FINANCIAL_DATA",
              "CAN_MANAGE_PERMISSIONS",
              "CAN_REPLY_TO_REVIEWS",
              "CAN_MANAGE_PUBLIC_APKS",
              "CAN_MANAGE_TRACK_APKS",
              "CAN_MANAGE_TRACK_USERS",
              "CAN_MANAGE_PUBLIC_LISTING",
              "CAN_MANAGE_DRAFT_APPS",
              "CAN_MANAGE_ORDERS",
              "CAN_MANAGE_APP_CONTENT",
              "CAN_VIEW_NON_FINANCIAL_DATA",
              "CAN_VIEW_APP_QUALITY",
              "CAN_MANAGE_DEEPLINKS"
            ],
            "type": "string"
          },
          "type": "array",
          "description": "The permissions granted to the user for this app."
        }
      }
    },
    "UserCountrySet": {
      "type": "object",
      "description": "A set of user countries. A country set determines what variation of app content gets served to a specific location.",
      "id": "UserCountrySet",
      "properties": {
        "name": {
          "description": "Country set name.",
          "type": "string"
        },
        "countryCodes": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "List of country codes representing countries. A Country code is represented in ISO 3166 alpha-2 format. For Example:- \"IT\" for Italy, \"GE\" for Georgia."
        }
      }
    },
    "ManagedProductTaxAndComplianceSettings": {
      "id": "ManagedProductTaxAndComplianceSettings",
      "type": "object",
      "description": "Details about taxation and legal compliance for managed products.",
      "properties": {
        "productTaxCategoryCode": {
          "type": "string",
          "description": "Product tax category code to assign to the in-app product. Product tax category determines the transaction tax rates applied to the product. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/16408159) for more information."
        },
        "taxRateInfoByRegionCode": {
          "description": "A mapping from region code to tax rate details. The keys are region codes as defined by Unicode's \"CLDR\".",
          "additionalProperties": {
            "$ref": "RegionalTaxRateInfo"
          },
          "type": "object"
        },
        "regionalProductAgeRatingInfos": {
          "description": "Regional age rating information. Currently this field is only supported for region code `US`.",
          "type": "array",
          "items": {
            "$ref": "RegionalProductAgeRatingInfo"
          }
        },
        "eeaWithdrawalRightType": {
          "type": "string",
          "description": "Digital content or service classification for products distributed to users in the European Economic Area (EEA). The withdrawal regime under EEA consumer laws depends on this classification. Refer to the [Help Center article](https://support.google.com/googleplay/android-developer/answer/10463498) for more information.",
          "enum": [
            "WITHDRAWAL_RIGHT_TYPE_UNSPECIFIED",
            "WITHDRAWAL_RIGHT_DIGITAL_CONTENT",
            "WITHDRAWAL_RIGHT_SERVICE"
          ],
          "enumDescriptions": [
            "",
            "",
            ""
          ]
        },
        "isTokenizedDigitalAsset": {
          "description": "Whether this in-app product is declared as a product representing a tokenized digital asset.",
          "type": "boolean"
        }
      }
    },
    "RegionalProductAgeRatingInfo": {
      "type": "object",
      "description": "Details about the age rating for a specific geographic region.",
      "properties": {
        "regionCode": {
          "description": "Region code this configuration applies to, as defined by ISO 3166-2, e.g. \"US\".",
          "type": "string"
        },
        "productAgeRatingTier": {
          "enumDescriptions": [
            "Unknown age rating tier.",
            "Age rating tier for products that are appropriate for all ages.",
            "Age rating tier for products that are appropriate for 13 years and above.",
            "Age rating tier for products that are appropriate for 16 years and above.",
            "Age rating tier for products that are appropriate for 18 years and above."
          ],
          "enum": [
            "PRODUCT_AGE_RATING_TIER_UNKNOWN",
            "PRODUCT_AGE_RATING_TIER_EVERYONE",
            "PRODUCT_AGE_RATING_TIER_THIRTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_SIXTEEN_AND_ABOVE",
            "PRODUCT_AGE_RATING_TIER_EIGHTEEN_AND_ABOVE"
          ],
          "description": "The age rating tier of a product for the given region.",
          "type": "string"
        }
      },
      "id": "RegionalProductAgeRatingInfo"
    },
    "BatchDeleteOneTimeProductOffersRequest": {
      "description": "Request message for BatchDeleteOneTimeProductOffers.",
      "properties": {
        "requests": {
          "type": "array",
          "description": "Required. A list of update requests of up to 100 elements. All requests must correspond to different offers.",
          "items": {
            "$ref": "DeleteOneTimeProductOfferRequest"
          }
        }
      },
      "id": "BatchDeleteOneTimeProductOffersRequest",
      "type": "object"
    },
    "CatalogSdkVersion": {
      "id": "CatalogSdkVersion",
      "description": "Defines a range of SDK versions. A device is considered compatible uf its\\ SDK version falls within the min_sdk_version and max_sdk_version range.",
      "type": "object",
      "properties": {
        "minSdkVersion": {
          "format": "int64",
          "description": "The minimum SDK version required for the app (inclusive).",
          "type": "string"
        },
        "maxSdkVersion": {
          "description": "The maximum SDK version required for the app (inclusive).",
          "format": "int64",
          "type": "string"
        },
        "targetSdkVersion": {
          "description": "The target SDK version for the app.",
          "format": "int64",
          "type": "string"
        }
      }
    },
    "SubscriptionDetails": {
      "id": "SubscriptionDetails",
      "type": "object",
      "description": "Details of a subscription purchase.",
      "properties": {
        "offerPhase": {
          "deprecated": true,
          "type": "string",
          "enumDescriptions": [
            "Offer phase unspecified. This value is not used.",
            "The order funds a base price period.",
            "The order funds an introductory pricing period.",
            "The order funds a free trial period."
          ],
          "description": "Deprecated: Use offer_phase_details instead. The pricing phase for the billing period funded by this order.",
          "enum": [
            "OFFER_PHASE_UNSPECIFIED",
            "BASE",
            "INTRODUCTORY",
            "FREE_TRIAL"
          ]
        },
        "offerPhaseDetails": {
          "description": "The pricing phase details for the entitlement period funded by this order.",
          "$ref": "OfferPhaseDetails"
        },
        "offerId": {
          "type": "string",
[...]
