{
  "discoveryVersion": "v1",
  "rootUrl": "https://playdeveloperreporting.googleapis.com/",
  "canonicalName": "Playdeveloperreporting",
  "version": "v1beta1",
  "revision": "20260903",
  "icons": {
    "x16": "http://www.google.com/images/icons/product/search-16.gif",
    "x32": "http://www.google.com/images/icons/product/search-32.gif"
  },
  "ownerDomain": "google.com",
  "batchPath": "batch",
  "servicePath": "",
  "mtlsRootUrl": "https://playdeveloperreporting.mtls.googleapis.com/",
  "parameters": {
    "uploadType": {
      "type": "string",
      "location": "query",
      "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\")."
    },
    "upload_protocol": {
      "location": "query",
      "type": "string",
      "description": "Upload protocol for media (e.g. \"raw\", \"multipart\")."
    },
    "prettyPrint": {
      "type": "boolean",
      "default": "true",
      "location": "query",
      "description": "Returns response with indentations and line breaks."
    },
    "oauth_token": {
      "type": "string",
      "location": "query",
      "description": "OAuth 2.0 token for the current user."
    },
    "key": {
      "type": "string",
      "location": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token."
    },
    "quotaUser": {
      "type": "string",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
      "location": "query"
    },
    "alt": {
      "enumDescriptions": [
        "Responses with Content-Type of application/json",
        "Media download with context-dependent Content-Type",
        "Responses with Content-Type of application/x-protobuf"
      ],
      "location": "query",
      "description": "Data format for response.",
      "type": "string",
      "enum": [
        "json",
        "media",
        "proto"
      ],
      "default": "json"
    },
    "fields": {
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string",
      "location": "query"
    },
    "$.xgafv": {
      "description": "V1 error format.",
      "location": "query",
      "type": "string",
      "enum": [
        "1",
        "2"
      ],
      "enumDescriptions": [
        "v1 error format",
        "v2 error format"
      ]
    },
    "access_token": {
      "location": "query",
      "description": "OAuth access token.",
      "type": "string"
    },
    "callback": {
      "location": "query",
      "description": "JSONP",
      "type": "string"
    }
  },
  "protocol": "rest",
  "description": "",
  "baseUrl": "https://playdeveloperreporting.googleapis.com/",
  "documentationLink": "https://developers.google.com/play/developer/reporting",
  "name": "playdeveloperreporting",
  "auth": {
    "oauth2": {
      "scopes": {
        "https://www.googleapis.com/auth/playdeveloperreporting": {
          "description": "See metrics and data about the apps in your Google Play Developer account"
        }
      }
    }
  },
  "kind": "discovery#restDescription",
  "ownerName": "Google",
  "version_module": true,
  "basePath": "",
  "id": "playdeveloperreporting:v1beta1",
  "resources": {
    "anomalies": {
      "methods": {
        "list": {
          "path": "v1beta1/{+parent}/anomalies",
          "httpMethod": "GET",
          "id": "playdeveloperreporting.anomalies.list",
          "description": "Lists anomalies in any of the datasets.",
          "parameterOrder": [
            "parent"
          ],
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ListAnomaliesResponse"
          },
          "parameters": {
            "parent": {
              "pattern": "^apps/[^/]+$",
              "description": "Required. Parent app for which anomalies were detected. Format: apps/{app}",
              "type": "string",
              "location": "path",
              "required": true
            },
            "pageSize": {
              "description": "Optional. Maximum size of the returned data. If unspecified, at most 10 anomalies will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
              "type": "integer",
              "location": "query",
              "format": "int32"
            },
            "pageToken": {
              "description": "Optional. A page token, received from a previous `ListErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListErrorReports` must match the call that provided the page token.",
              "type": "string",
              "location": "query"
            },
            "filter": {
              "description": "Optional. Filtering criteria for anomalies. For basic filter guidance, please check: https://google.aip.dev/160. **Supported functions:** * `activeBetween(startTime, endTime)`: If specified, only list anomalies that were active in between `startTime` (inclusive) and `endTime` (exclusive). Both parameters are expected to conform to an RFC-3339 formatted string (e.g. `2012-04-21T11:30:00-04:00`). UTC offsets are supported. Both `startTime` and `endTime` accept the special value `UNBOUNDED`, to signify intervals with no lower or upper bound, respectively. Examples: * `activeBetween(\"2021-04-21T11:30:00Z\", \"2021-07-21T00:00:00Z\")` * `activeBetween(UNBOUNDED, \"2021-11-21T00:00:00-04:00\")` * `activeBetween(\"2021-07-21T00:00:00-04:00\", UNBOUNDED)`",
              "location": "query",
              "type": "string"
            }
          },
          "flatPath": "v1beta1/apps/{appsId}/anomalies"
        }
      }
    },
    "apps": {
      "methods": {
        "fetchReleaseFilterOptions": {
          "parameterOrder": [
            "name"
          ],
          "parameters": {
            "name": {
              "pattern": "^apps/[^/]+$",
              "required": true,
              "description": "Required. Name of the resource, i.e. app the filtering options are for. Format: apps/{app}",
              "location": "path",
              "type": "string"
            }
          },
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "path": "v1beta1/{+name}:fetchReleaseFilterOptions",
          "id": "playdeveloperreporting.apps.fetchReleaseFilterOptions",
          "description": "Describes filtering options for releases.",
          "flatPath": "v1beta1/apps/{appsId}:fetchReleaseFilterOptions",
          "httpMethod": "GET",
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ReleaseFilterOptions"
          }
        },
        "search": {
          "parameterOrder": [],
          "httpMethod": "GET",
          "id": "playdeveloperreporting.apps.search",
          "description": "Searches for Apps accessible by the user.",
          "scopes": [
            "https://www.googleapis.com/auth/playdeveloperreporting"
          ],
          "response": {
            "$ref": "GooglePlayDeveloperReportingV1beta1SearchAccessibleAppsResponse"
          },
          "parameters": {
            "pageSize": {
              "description": "Optional. The maximum number of apps to return. The service may return fewer than this value. If unspecified, at most 50 apps will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.",
              "location": "query",
              "type": "integer",
              "format": "int32"
            },
            "pageToken": {
              "location": "query",
              "type": "string",
              "description": "Optional. A page token, received from a previous `SearchAccessibleApps` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchAccessibleApps` must match the call that provided the page token."
            }
          },
          "path": "v1beta1/apps:search",
          "flatPath": "v1beta1/apps:search"
        }
      }
    },
    "vitals": {
      "resources": {
        "stuckbackgroundwakelockrate": {
          "methods": {
            "get": {
              "path": "v1beta1/{+name}",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet",
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.get",
              "httpMethod": "GET",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1StuckBackgroundWakelockRateMetricSet"
              },
              "description": "Describes the properties of the metric set.",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "required": true,
                  "location": "path"
                }
              }
            },
            "query": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.stuckbackgroundwakelockrate.query",
              "flatPath": "v1beta1/apps/{appsId}/stuckBackgroundWakelockRateMetricSet:query",
              "httpMethod": "POST",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryStuckBackgroundWakelockRateMetricSetRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "pattern": "^apps/[^/]+/stuckBackgroundWakelockRateMetricSet$",
                  "required": true,
                  "description": "Required. The resource name. Format: apps/{app}/stuckBackgroundWakelockRateMetricSet",
                  "location": "path"
                }
              },
              "description": "Queries the metrics in the metric set.",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1beta1/{+name}:query"
            }
          }
        },
        "excessivewakeuprate": {
          "methods": {
            "get": {
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "location": "path",
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.get",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1ExcessiveWakeupRateMetricSet"
              },
              "flatPath": "v1beta1/apps/{appsId}/excessiveWakeupRateMetricSet",
              "httpMethod": "GET",
              "description": "Describes the properties of the metric set.",
              "path": "v1beta1/{+name}"
            },
            "query": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetResponse"
              },
              "description": "Queries the metrics in the metric set.",
              "flatPath": "v1beta1/apps/{appsId}/excessiveWakeupRateMetricSet:query",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/excessiveWakeupRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/excessiveWakeupRateMetricSet"
                }
              },
              "id": "playdeveloperreporting.vitals.excessivewakeuprate.query",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryExcessiveWakeupRateMetricSetRequest"
              },
              "path": "v1beta1/{+name}:query",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "crashrate": {
          "methods": {
            "query": {
              "description": "Queries the metrics in the metric set.",
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetRequest"
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryCrashRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.crashrate.query",
              "parameterOrder": [
                "name"
              ],
              "flatPath": "v1beta1/apps/{appsId}/crashRateMetricSet:query",
              "path": "v1beta1/{+name}:query",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "location": "path",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "type": "string",
                  "required": true
                }
              }
            },
            "get": {
              "flatPath": "v1beta1/apps/{appsId}/crashRateMetricSet",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/crashRateMetricSet",
                  "type": "string",
                  "location": "path",
                  "pattern": "^apps/[^/]+/crashRateMetricSet$",
                  "required": true
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1CrashRateMetricSet"
              },
              "description": "Describes the properties of the metric set.",
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.crashrate.get",
              "path": "v1beta1/{+name}",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "GET"
            }
          }
        },
        "errors": {
          "resources": {
            "counts": {
              "methods": {
                "query": {
                  "parameters": {
                    "name": {
                      "location": "path",
                      "required": true,
                      "type": "string",
                      "description": "Required. The resource name. Format: apps/{app}/errorCountMetricSet",
                      "pattern": "^apps/[^/]+/errorCountMetricSet$"
                    }
                  },
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "request": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetRequest"
                  },
                  "id": "playdeveloperreporting.vitals.errors.counts.query",
                  "flatPath": "v1beta1/apps/{appsId}/errorCountMetricSet:query",
                  "parameterOrder": [
                    "name"
                  ],
                  "httpMethod": "POST",
                  "description": "Queries the metrics in the metrics set.",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1QueryErrorCountMetricSetResponse"
                  },
                  "path": "v1beta1/{+name}:query"
                },
                "get": {
                  "httpMethod": "GET",
                  "path": "v1beta1/{+name}",
                  "id": "playdeveloperreporting.vitals.errors.counts.get",
                  "description": "Describes the properties of the metrics set.",
                  "parameters": {
                    "name": {
                      "description": "Required. Name of the errors metric set. Format: apps/{app}/errorCountMetricSet",
                      "required": true,
                      "pattern": "^apps/[^/]+/errorCountMetricSet$",
                      "location": "path",
                      "type": "string"
                    }
                  },
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1ErrorCountMetricSet"
                  },
                  "flatPath": "v1beta1/apps/{appsId}/errorCountMetricSet",
                  "parameterOrder": [
                    "name"
                  ],
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ]
                }
              }
            },
            "reports": {
              "methods": {
                "search": {
                  "id": "playdeveloperreporting.vitals.errors.reports.search",
                  "httpMethod": "GET",
                  "path": "v1beta1/{+parent}/errorReports:search",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "flatPath": "v1beta1/apps/{appsId}/errorReports:search",
                  "parameterOrder": [
                    "parent"
                  ],
                  "description": "Searches all error reports received for an app.",
                  "parameters": {
                    "interval.startTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
                    },
                    "filter": {
                      "description": "Optional. A selection predicate to retrieve only a subset of the reports. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error reports that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error reports that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error reports that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error reports of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `errorIssueId`: Matches error reports belonging to the requested error issue ids only. Example: `errorIssueId = 1234 OR errorIssueId = 4567`. * `errorReportId`: Matches error reports with the requested error report id. Example: `errorReportId = 1234 OR errorReportId = 4567`. * `appProcessState`: Matches error reports on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error reports that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR versionCode = ANR`. The filter expression `versionCode = 123 OR errorIssueType = ANR` is not valid. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.hours": {
                      "type": "integer",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.startTime.month": {
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer",
                      "format": "int32"
                    },
                    "interval.startTime.nanos": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
                    },
                    "interval.endTime.nanos": {
                      "location": "query",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.day": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "location": "query"
                    },
                    "interval.endTime.minutes": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "location": "query"
                    },
                    "interval.startTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "location": "query",
                      "type": "string",
                      "format": "google-duration"
                    },
                    "interval.startTime.minutes": {
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "format": "int32"
                    },
                    "interval.endTime.year": {
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer"
                    },
                    "interval.endTime.seconds": {
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "parent": {
                      "type": "string",
                      "location": "path",
                      "pattern": "^apps/[^/]+$",
                      "required": true,
                      "description": "Required. Parent resource of the reports, indicating the application for which they were received. Format: apps/{app}"
                    },
                    "interval.startTime.hours": {
                      "type": "integer",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.startTime.timeZone.id": {
                      "type": "string",
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
                    },
                    "interval.startTime.seconds": {
                      "format": "int32",
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.endTime.timeZone.id": {
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.month": {
                      "format": "int32",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "type": "integer",
                      "location": "query"
                    },
                    "pageToken": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. A page token, received from a previous `SearchErrorReports` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `SearchErrorReports` must match the call that provided the page token."
                    },
                    "pageSize": {
                      "type": "integer",
                      "description": "Optional. The maximum number of reports to return. The service may return fewer than this value. If unspecified, at most 50 reports will be returned. The maximum value is 100; values above 100 will be coerced to 100.",
                      "location": "query",
                      "format": "int32"
                    },
                    "interval.endTime.timeZone.version": {
                      "type": "string",
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\"."
                    },
                    "interval.endTime.utcOffset": {
                      "type": "string",
                      "location": "query",
                      "format": "google-duration",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
                    }
                  },
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse"
                  }
                }
              }
            },
            "issues": {
              "methods": {
                "search": {
                  "flatPath": "v1beta1/apps/{appsId}/errorIssues:search",
                  "response": {
                    "$ref": "GooglePlayDeveloperReportingV1beta1SearchErrorIssuesResponse"
                  },
                  "parameters": {
                    "interval.endTime.year": {
                      "location": "query",
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year."
                    },
                    "interval.startTime.seconds": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds."
                    },
                    "interval.endTime.month": {
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32",
                      "location": "query",
                      "type": "integer"
                    },
                    "interval.startTime.timeZone.id": {
                      "location": "query",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\".",
                      "type": "string"
                    },
                    "parent": {
                      "type": "string",
                      "pattern": "^apps/[^/]+$",
                      "location": "path",
                      "description": "Required. Parent resource of the error issues, indicating the application for which they were received. Format: apps/{app}",
                      "required": true
                    },
                    "interval.startTime.minutes": {
                      "location": "query",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.endTime.day": {
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day.",
                      "type": "integer"
                    },
                    "interval.endTime.timeZone.version": {
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "location": "query",
                      "type": "string"
                    },
                    "pageToken": {
                      "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
                      "location": "query",
                      "type": "string"
                    },
                    "interval.endTime.hours": {
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "location": "query"
                    },
                    "interval.startTime.day": {
                      "type": "integer",
                      "location": "query",
                      "format": "int32",
                      "description": "Optional. Day of month. Must be from 1 to 31 and valid for the year and month, or 0 if specifying a datetime without a day."
                    },
                    "interval.endTime.seconds": {
                      "description": "Optional. Seconds of minutes of the time. Must normally be from 0 to 59, defaults to 0. An API may allow the value 60 if it allows leap-seconds.",
                      "format": "int32",
                      "type": "integer",
                      "location": "query"
                    },
                    "interval.startTime.year": {
                      "format": "int32",
                      "location": "query",
                      "description": "Optional. Year of date. Must be from 1 to 9999, or 0 if specifying a datetime without a year.",
                      "type": "integer"
                    },
                    "interval.startTime.hours": {
                      "type": "integer",
                      "location": "query",
                      "description": "Optional. Hours of day in 24 hour format. Should be from 0 to 23, defaults to 0 (midnight). An API may choose to allow the value \"24:00:00\" for scenarios like business closing time.",
                      "format": "int32"
                    },
                    "interval.endTime.utcOffset": {
                      "type": "string",
                      "format": "google-duration",
                      "location": "query",
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }."
                    },
                    "interval.startTime.utcOffset": {
                      "description": "UTC offset. Must be whole seconds, between -18 hours and +18 hours. For example, a UTC offset of -4:00 would be represented as { seconds: -14400 }.",
                      "type": "string",
                      "format": "google-duration",
                      "location": "query"
                    },
                    "pageSize": {
                      "format": "int32",
                      "location": "query",
                      "type": "integer",
                      "description": "Optional. The maximum number of error issues to return. The service may return fewer than this value. If unspecified, at most 50 error issues will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000."
                    },
                    "sampleErrorReportLimit": {
                      "description": "Optional. Number of sample error reports to return per ErrorIssue. If unspecified, 0 will be used. *Note:* currently only 0 and 1 are supported.",
                      "location": "query",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.timeZone.version": {
                      "location": "query",
                      "description": "Optional. IANA Time Zone Database version number. For example \"2019a\".",
                      "type": "string"
                    },
                    "orderBy": {
                      "location": "query",
                      "description": "Optional. Specifies a field that will be used to order the results. ** Supported dimensions:** * `errorReportCount`: Orders issues by number of error reports. * `distinctUsers`: Orders issues by number of unique affected users. ** Supported operations:** * `asc` for ascending order. * `desc` for descending order. Format: A field and an operation, e.g., `errorReportCount desc` *Note:* currently only one field is supported at a time.",
                      "type": "string"
                    },
                    "interval.endTime.nanos": {
                      "location": "query",
                      "type": "integer",
                      "format": "int32",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0."
                    },
                    "interval.endTime.timeZone.id": {
                      "location": "query",
                      "type": "string",
                      "description": "IANA Time Zone Database time zone. For example \"America/New_York\"."
                    },
                    "interval.startTime.month": {
                      "location": "query",
                      "description": "Optional. Month of year. Must be from 1 to 12, or 0 if specifying a datetime without a month.",
                      "format": "int32",
                      "type": "integer"
                    },
                    "interval.startTime.nanos": {
                      "type": "integer",
                      "description": "Optional. Fractions of seconds in nanoseconds. Must be from 0 to 999,999,999, defaults to 0.",
                      "location": "query",
                      "format": "int32"
                    },
                    "filter": {
                      "location": "query",
                      "description": "Optional. A selection predicate to retrieve only a subset of the issues. Counts in the returned error issues will only reflect occurrences that matched the filter. For filtering basics, please check [AIP-160](https://google.aip.dev/160). ** Supported field names:** * `apiLevel`: Matches error issues that occurred in the requested Android versions (specified as the numeric API level) only. Example: `apiLevel = 28 OR apiLevel = 29`. * `versionCode`: Matches error issues that occurred in the requested app version codes only. Example: `versionCode = 123 OR versionCode = 456`. * `deviceModel`: Matches error issues that occurred in the requested devices. Example: `deviceModel = \"google/walleye\" OR deviceModel = \"google/marlin\"`. * `deviceBrand`: Matches error issues that occurred in the requested device brands. Example: `deviceBrand = \"Google\". * `deviceType`: Matches error issues that occurred in the requested device types. Example: `deviceType = \"PHONE\"`. * `errorIssueType`: Matches error issues of the requested types only. Valid candidates: `CRASH`, `ANR`, `NON_FATAL`. Example: `errorIssueType = CRASH OR errorIssueType = ANR`. * `appProcessState`: Matches error issues on the process state of an app, indicating whether an app runs in the foreground (user-visible) or background. Valid candidates: `FOREGROUND`, `BACKGROUND`. Example: `appProcessState = FOREGROUND`. * `isUserPerceived`: Matches error issues that are user-perceived. It is not accompanied by any operators. Example: `isUserPerceived`. ** Supported operators:** * Comparison operators: The only supported comparison operator is equality. The filtered field must appear on the left hand side of the comparison. * Logical Operators: Logical operators `AND` and `OR` can be used to build complex filters following a conjunctive normal form (CNF), i.e., conjunctions of disjunctions. The `OR` operator takes precedence over `AND` so the use of parenthesis is not necessary when building CNF. The `OR` operator is only supported to build disjunctions that apply to the same field, e.g., `versionCode = 123 OR errorIssueType = ANR` is not a valid filter. ** Examples ** Some valid filtering expressions: * `versionCode = 123 AND errorIssueType = ANR` * `versionCode = 123 AND errorIssueType = OR errorIssueType = CRASH` * `versionCode = 123 AND (errorIssueType = OR errorIssueType = CRASH)`",
                      "type": "string"
                    },
                    "interval.endTime.minutes": {
                      "format": "int32",
                      "type": "integer",
                      "description": "Optional. Minutes of hour of day. Must be from 0 to 59, defaults to 0.",
                      "location": "query"
                    }
                  },
                  "httpMethod": "GET",
                  "description": "Searches all error issues in which reports have been grouped.",
                  "parameterOrder": [
                    "parent"
                  ],
                  "id": "playdeveloperreporting.vitals.errors.issues.search",
                  "scopes": [
                    "https://www.googleapis.com/auth/playdeveloperreporting"
                  ],
                  "path": "v1beta1/{+parent}/errorIssues:search"
                }
              }
            }
          }
        },
        "slowrenderingrate": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1SlowRenderingRateMetricSet"
              },
              "flatPath": "v1beta1/apps/{appsId}/slowRenderingRateMetricSet",
              "parameters": {
                "name": {
                  "location": "path",
                  "type": "string",
                  "required": true,
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "GET",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.get",
              "path": "v1beta1/{+name}",
              "description": "Describes the properties of the metric set."
            },
            "query": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetResponse"
              },
              "httpMethod": "POST",
              "id": "playdeveloperreporting.vitals.slowrenderingrate.query",
              "flatPath": "v1beta1/apps/{appsId}/slowRenderingRateMetricSet:query",
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:query",
              "description": "Queries the metrics in the metric set.",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetRequest"
              },
              "parameters": {
                "name": {
                  "required": true,
                  "type": "string",
                  "pattern": "^apps/[^/]+/slowRenderingRateMetricSet$",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/slowRenderingRateMetricSet"
                }
              }
            }
          }
        },
        "anrrate": {
          "methods": {
            "query": {
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetResponse"
              },
              "path": "v1beta1/{+name}:query",
              "flatPath": "v1beta1/apps/{appsId}/anrRateMetricSet:query",
              "description": "Queries the metrics in the metric set.",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnrRateMetricSetRequest"
              },
              "parameters": {
                "name": {
                  "type": "string",
                  "required": true,
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet"
                }
              },
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.anrrate.query",
              "httpMethod": "POST"
            },
            "get": {
              "description": "Describes the properties of the metric set.",
              "flatPath": "v1beta1/apps/{appsId}/anrRateMetricSet",
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/anrRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/anrRateMetricSet$",
                  "location": "path",
                  "required": true
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet"
              },
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "GET",
              "id": "playdeveloperreporting.vitals.anrrate.get",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "path": "v1beta1/{+name}"
            }
          }
        },
        "lmkrate": {
          "methods": {
            "get": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1LmkRateMetricSet"
              },
              "parameterOrder": [
                "name"
              ],
              "description": "Describes the properties of the metric set.",
              "httpMethod": "GET",
              "flatPath": "v1beta1/apps/{appsId}/lmkRateMetricSet",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$",
                  "location": "path",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet"
                }
              },
              "id": "playdeveloperreporting.vitals.lmkrate.get",
              "path": "v1beta1/{+name}"
            },
            "query": {
              "parameters": {
                "name": {
                  "pattern": "^apps/[^/]+/lmkRateMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/lmkRateMetricSet",
                  "required": true,
                  "location": "path"
                }
              },
              "description": "Queries the metrics in the metric set.",
              "path": "v1beta1/{+name}:query",
              "httpMethod": "POST",
              "flatPath": "v1beta1/apps/{appsId}/lmkRateMetricSet:query",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryLmkRateMetricSetResponse"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryLmkRateMetricSetRequest"
              },
              "id": "playdeveloperreporting.vitals.lmkrate.query",
              "parameterOrder": [
                "name"
              ]
            }
          }
        },
        "anonrssandswapmemoryusage": {
          "methods": {
            "get": {
              "parameterOrder": [
                "name"
              ],
              "description": "Describes the properties of the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1AnonRssAndSwapMemoryUsageMetricSet"
              },
              "flatPath": "v1beta1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet",
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$"
                }
              },
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.get"
            },
            "query": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnonRssAndSwapMemoryUsageMetricSetRequest"
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryAnonRssAndSwapMemoryUsageMetricSetResponse"
              },
              "description": "Queries the metrics in the metric set.",
              "id": "playdeveloperreporting.vitals.anonrssandswapmemoryusage.query",
              "flatPath": "v1beta1/apps/{appsId}/anonRssAndSwapMemoryUsageMetricSet:query",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/anonRssAndSwapMemoryUsageMetricSet$",
                  "description": "Required. * The resource name. Format: apps/{app}/anonRssAndSwapMemoryUsageMetricSet"
                }
              },
              "path": "v1beta1/{+name}:query"
            }
          }
        },
        "slowstartrate": {
          "methods": {
            "get": {
              "httpMethod": "GET",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "type": "string",
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$",
                  "required": true,
                  "location": "path"
                }
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet"
              },
              "parameterOrder": [
                "name"
              ],
              "id": "playdeveloperreporting.vitals.slowstartrate.get",
              "flatPath": "v1beta1/apps/{appsId}/slowStartRateMetricSet",
              "description": "Describes the properties of the metric set.",
              "path": "v1beta1/{+name}"
            },
            "query": {
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.slowstartrate.query",
              "flatPath": "v1beta1/apps/{appsId}/slowStartRateMetricSet:query",
              "httpMethod": "POST",
              "parameters": {
                "name": {
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/slowStartRateMetricSet",
                  "required": true,
                  "pattern": "^apps/[^/]+/slowStartRateMetricSet$"
                }
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "description": "Queries the metrics in the metric set.",
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest"
              },
              "parameterOrder": [
                "name"
              ],
              "path": "v1beta1/{+name}:query"
            }
          }
        },
        "bitmapmemoryusage": {
          "methods": {
            "get": {
              "flatPath": "v1beta1/apps/{appsId}/bitmapMemoryUsageMetricSet",
              "parameters": {
                "name": {
                  "required": true,
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$",
                  "type": "string",
                  "location": "path",
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet"
                }
              },
              "description": "Describes the properties of the metric set.",
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1BitmapMemoryUsageMetricSet"
              },
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "httpMethod": "GET",
              "path": "v1beta1/{+name}",
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.get",
              "parameterOrder": [
                "name"
              ]
            },
            "query": {
              "parameterOrder": [
                "name"
              ],
              "httpMethod": "POST",
              "description": "Queries the metrics in the metric set.",
              "scopes": [
                "https://www.googleapis.com/auth/playdeveloperreporting"
              ],
              "parameters": {
                "name": {
                  "location": "path",
                  "required": true,
                  "pattern": "^apps/[^/]+/bitmapMemoryUsageMetricSet$",
                  "type": "string",
                  "description": "Required. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet"
                }
              },
              "request": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryBitmapMemoryUsageMetricSetRequest"
              },
              "response": {
                "$ref": "GooglePlayDeveloperReportingV1beta1QueryBitmapMemoryUsageMetricSetResponse"
              },
              "id": "playdeveloperreporting.vitals.bitmapmemoryusage.query",
              "flatPath": "v1beta1/apps/{appsId}/bitmapMemoryUsageMetricSet:query",
              "path": "v1beta1/{+name}:query"
            }
          }
        }
      }
    }
  },
  "title": "Google Play Developer Reporting API",
  "schemas": {
    "GooglePlayDeveloperReportingV1beta1BitmapMemoryUsageMetricSet": {
      "description": "Singleton resource representing the set of Bitmap Memory Usage metrics. This metric set contains bitmap memory usage data combined with usage data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `bitmapMemoryUsageP50` (`google.type.Decimal`): 50th percentile of bitmap memory usage. * `bitmapMemoryUsageP75` (`google.type.Decimal`): 75th percentile of bitmap memory usage. * `bitmapMemoryUsageP90` (`google.type.Decimal`): 90th percentile of bitmap memory usage. * `bitmapMemoryUsageP95` (`google.type.Decimal`): 95th percentile of bitmap memory usage. * `bitmapMemoryUsageP99` (`google.type.Decimal`): 99th percentile of bitmap memory usage. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which memory metrics were reported during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. * `processName` (string): the name of the process that was running, e.g., com.example.app. * `appState` (string): the state of the app when memory was collected, e.g., FOREGROUND. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name. Format: apps/{app}/bitmapMemoryUsageMetricSet"
        },
        "freshnessInfo": {
          "readOnly": true,
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo",
          "description": "Output only. Summary about data freshness in this resource."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1BitmapMemoryUsageMetricSet"
    },
    "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet": {
      "properties": {
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        },
        "name": {
          "description": "Identifier. The resource name. Format: apps/{app}/anrRateMetricSet",
          "type": "string"
        }
      },
      "description": "Singleton resource representing the set of ANR (Application not responding) metrics. This metric set contains ANRs data combined with usage data to produce a normalized metric independent of user counts. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. * HOURLY: metrics are aggregated in hourly intervals. The default and only supported timezone is `UTC`. **Supported metrics:** * `anrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one ANR. * `anrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `anrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `anrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one user-perceived ANR. User-perceived ANRs are currently those of 'Input dispatching' type. * `userPerceivedAnrRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. Not supported in HOURLY granularity. * `userPerceivedAnrRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedAnrRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `anrRate` and `userPerceivedAnrRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app. **Related metric sets:** * vitals.errors contains unnormalized version (absolute counts) of crashes. * vitals.errors contains normalized metrics about crashes, another stability metric.",
      "id": "GooglePlayDeveloperReportingV1beta1AnrRateMetricSet",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1QueryAnonRssAndSwapMemoryUsageMetricSetRequest": {
      "description": "Request message for QueryAnonRssAndSwapMemoryUsageMetricSet.",
      "type": "object",
      "properties": {
        "pageToken": {
          "type": "string",
          "description": "Optional. * A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "metrics": {
          "type": "array",
          "description": "Optional. * Metrics to aggregate. **Supported metrics:** * `anonRssAndSwapMemoryUsageP50` (`google.type.Decimal`): 50th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP75` (`google.type.Decimal`): 75th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP90` (`google.type.Decimal`): 90th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP95` (`google.type.Decimal`): 95th percentile of anon RSS and swap memory usage. * `anonRssAndSwapMemoryUsageP99` (`google.type.Decimal`): 99th percentile of anon RSS and swap memory usage. * `distinctUsers` (`google.type.Decimal`): Count of distinct users for which memory metrics were reported during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          }
        },
        "timelineSpec": {
          "description": "Optional. * Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "dimensions": {
          "description": "Optional. * Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. * `processName` (string): the name of the process that was running, e.g., com.example.app. * `appState` (string): the state of the app when memory was collected, e.g., FOREGROUND.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "userCohort": {
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "description": "Optional. * User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`.",
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ]
        },
        "pageSize": {
          "type": "integer",
          "description": "Optional. * Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32"
        },
        "filter": {
          "type": "string",
          "description": "Optional. * Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        }
      },
      "id": "GooglePlayDeveloperReportingV1beta1QueryAnonRssAndSwapMemoryUsageMetricSetRequest"
    },
    "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest": {
      "properties": {
        "userCohort": {
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "description": "Optional. User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`."
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "timelineSpec": {
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec",
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`."
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "metrics": {
          "type": "array",
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          }
        },
        "pageSize": {
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "format": "int32",
          "type": "integer"
        },
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowStartRateMetricSetRequest",
      "description": "Request message for QuerySlowStartRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1QueryLmkRateMetricSetResponse": {
      "properties": {
        "rows": {
          "type": "array",
          "description": "Returned rows of data.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1MetricsRow"
          }
        },
        "nextPageToken": {
          "description": "Continuation token to fetch the next page of data.",
          "type": "string"
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QueryLmkRateMetricSetResponse",
      "description": "Response message for QueryLmkRateMetricSet."
    },
    "GooglePlayDeveloperReportingV1beta1DimensionValue": {
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1DimensionValue",
      "properties": {
        "dimension": {
          "type": "string",
          "description": "Name of the dimension."
        },
        "valueLabel": {
          "description": "Optional. Human-friendly label for the value, always in English. For example, 'Spain' for the 'ES' country code. Whereas the dimension value is stable, this value label is subject to change. Do not assume that the (value, value_label) relationship is stable. For example, the ISO country code 'MK' changed its name recently to 'North Macedonia'.",
          "type": "string"
        },
        "int64Value": {
          "format": "int64",
          "type": "string",
          "description": "Actual value, represented as an int64."
        },
        "stringValue": {
          "description": "Actual value, represented as a string.",
          "type": "string"
        }
      },
      "description": "Represents the value of a single dimension."
    },
    "GooglePlayDeveloperReportingV1beta1SearchAccessibleAppsResponse": {
      "description": "Response message for SearchAccessibleApps.",
      "properties": {
        "nextPageToken": {
          "description": "A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
          "type": "string"
        },
        "apps": {
          "type": "array",
          "description": "The apps accessible to the user calling the endpoint.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1App"
          }
        }
      },
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1SearchAccessibleAppsResponse"
    },
    "GooglePlayDeveloperReportingV1beta1QueryLmkRateMetricSetRequest": {
      "id": "GooglePlayDeveloperReportingV1beta1QueryLmkRateMetricSetRequest",
      "description": "Request message for QueryLmkRateMetricSet.",
      "type": "object",
      "properties": {
        "userCohort": {
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ],
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "description": "Optional. User view to select. The output data will correspond to the selected view. **Supported values:** * `OS_PUBLIC` To select data from all publicly released Android versions. This is the default. Supports all the above dimensions. * `APP_TESTERS` To select data from users who have opted in to be testers. Supports all the above dimensions. * `OS_BETA` To select data from beta android versions only, excluding data from released android versions. Only the following dimensions are supported: * `versionCode` (int64): version of the app that was running on the user's device. * `osBuild` (string): OS build of the user's device, e.g., \"T1B2.220916.004\"."
        },
        "pageSize": {
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100,000; values above 100,000 will be coerced to 100,000.",
          "type": "integer",
          "format": "int32"
        },
        "metrics": {
          "type": "array",
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `userPerceivedLmkRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that experienced at least one LMK while they were actively using your app (a user-perceived LMK). An app is considered to be in active use if it is displaying any activity or executing any foreground service. * `userPerceivedLmkRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedLmkRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `userPerceivedLmkRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `userPerceivedLmkRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `userPerceivedLmkRate` metrics. A user is counted in this metric if they used the app in the foreground during the aggregation period. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "items": {
            "type": "string"
          }
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the default and only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        },
        "pageToken": {
          "type": "string",
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token."
        },
        "dimensions": {
          "items": {
            "type": "string"
          },
          "type": "array",
          "description": "Optional. Dimensions to slice the metrics by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "filter": {
          "type": "string",
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions."
        }
      }
    },
    "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet": {
      "properties": {
        "name": {
          "type": "string",
          "description": "Identifier. The resource name. Format: apps/{app}/slowStartRateMetricSet"
        },
        "freshnessInfo": {
          "description": "Summary about data freshness in this resource.",
          "$ref": "GooglePlayDeveloperReportingV1beta1FreshnessInfo"
        }
      },
      "description": "Singleton resource representing the set of Slow Start metrics. This metric set contains Activity start duration data. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`. **Supported metrics:** * `slowStartRate` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow start. * `slowStartRate7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowStartRate28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowStartRate` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowStartRate` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value. **Required dimension:** This dimension must be specified with each request for the request to be valid. * `startType` (string): the type of start that was measured. Valid types are `HOT`, `WARM` and `COLD`. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (e.g., 1024 for 1-1.5GB, 4096 for 4-6GB). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi. **Required permissions**: to access this resource, the calling user needs the _View app information (read-only)_ permission for the app.",
      "id": "GooglePlayDeveloperReportingV1beta1SlowStartRateMetricSet",
      "type": "object"
    },
    "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse": {
      "id": "GooglePlayDeveloperReportingV1beta1SearchErrorReportsResponse",
      "properties": {
        "nextPageToken": {
          "description": "Page token to fetch the next page of reports.",
          "type": "string"
        },
        "errorReports": {
          "type": "array",
          "description": "Error reports that were found.",
          "items": {
            "$ref": "GooglePlayDeveloperReportingV1beta1ErrorReport"
          }
        }
      },
      "type": "object",
      "description": "Response with a paginated list of error reports matching the search query."
    },
    "GoogleTypeDecimal": {
      "properties": {
        "value": {
          "type": "string",
          "description": "The decimal value, as a string. The string representation consists of an optional sign, `+` (`U+002B`) or `-` (`U+002D`), followed by a sequence of zero or more decimal digits (\"the integer\"), optionally followed by a fraction, optionally followed by an exponent. An empty string **should** be interpreted as `0`. The fraction consists of a decimal point followed by zero or more decimal digits. The string must contain at least one digit in either the integer or the fraction. The number formed by the sign, the integer and the fraction is referred to as the significand. The exponent consists of the character `e` (`U+0065`) or `E` (`U+0045`) followed by one or more decimal digits. Services **should** normalize decimal values before storing them by: - Removing an explicitly-provided `+` sign (`+2.5` -\u003e `2.5`). - Replacing a zero-length integer value with `0` (`.5` -\u003e `0.5`). - Coercing the exponent character to upper-case, with explicit sign (`2.5e8` -\u003e `2.5E+8`). - Removing an explicitly-provided zero exponent (`2.5E0` -\u003e `2.5`). Services **may** perform additional normalization based on its own needs and the internal decimal implementation selected, such as shifting the decimal point and exponent value together (example: `2.5E-1` \u003c-\u003e `0.25`). Additionally, services **may** preserve trailing zeroes in the fraction to indicate increased precision, but are not required to do so. Note that only the `.` character is supported to divide the integer and the fraction; `,` **should not** be supported regardless of locale. Additionally, thousand separators **should not** be supported. If a service does support them, values **must** be normalized. The ENBF grammar is: DecimalString = '' | [Sign] Significand [Exponent]; Sign = '+' | '-'; Significand = Digits '.' | [Digits] '.' Digits; Exponent = ('e' | 'E') [Sign] Digits; Digits = { '0' | '1' | '2' | '3' | '4' | '5' | '6' | '7' | '8' | '9' }; Services **should** clearly document the range of supported values, the maximum supported precision (total number of digits), and, if applicable, the scale (number of digits after the decimal point), as well as how it behaves when receiving out-of-bounds values. Services **may** choose to accept values passed as input even when the value has a higher precision or scale than the service supports, and **should** round the value to fit the supported scale. Alternatively, the service **may** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if precision would be lost. Services **should** error with `400 Bad Request` (`INVALID_ARGUMENT` in gRPC) if the service receives a value outside of the supported range."
        }
      },
      "id": "GoogleTypeDecimal",
      "type": "object",
      "description": "A representation of a decimal value, such as 2.5. Clients may convert values into language-native decimal formats, such as Java's [BigDecimal](https://docs.oracle.com/en/java/javase/11/docs/api/java.base/java/math/BigDecimal.html) or Python's [decimal.Decimal](https://docs.python.org/3/library/decimal.html)."
    },
    "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetRequest": {
      "description": "Request message for QuerySlowRenderingRateMetricSet.",
      "type": "object",
      "id": "GooglePlayDeveloperReportingV1beta1QuerySlowRenderingRateMetricSetRequest",
      "properties": {
        "dimensions": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. Dimensions to slice the data by. **Supported dimensions:** * `apiLevel` (string): the API level of Android that was running on the user's device, e.g., 26. * `versionCode` (int64): version of the app that was running on the user's device. * `deviceModel` (string): unique identifier of the user's device model. The form of the identifier is 'deviceBrand/device', where deviceBrand corresponds to Build.BRAND and device corresponds to Build.DEVICE, e.g., google/coral. * `deviceBrand` (string): unique identifier of the user's device brand, e.g., google. * `deviceType` (string): the type (also known as form factor) of the user's device, e.g., PHONE. * `countryCode` (string): the country or region of the user's device based on their IP address, represented as a 2-letter ISO-3166 code (e.g. US for the United States). * `deviceRamBucket` (int64): RAM of the device, in MB, in buckets (3GB, 4GB, etc.). * `deviceSocMake` (string): Make of the device's primary system-on-chip, e.g., Samsung. [Reference](https://developer.android.com/reference/android/os/Build#SOC_MANUFACTURER) * `deviceSocModel` (string): Model of the device's primary system-on-chip, e.g., \"Exynos 2100\". [Reference](https://developer.android.com/reference/android/os/Build#SOC_MODEL) * `deviceCpuMake` (string): Make of the device's CPU, e.g., Qualcomm. * `deviceCpuModel` (string): Model of the device's CPU, e.g., \"Kryo 240\". * `deviceGpuMake` (string): Make of the device's GPU, e.g., ARM. * `deviceGpuModel` (string): Model of the device's GPU, e.g., Mali. * `deviceGpuVersion` (string): Version of the device's GPU, e.g., T750. * `deviceVulkanVersion` (string): Vulkan version of the device, e.g., \"4198400\". * `deviceGlEsVersion` (string): OpenGL ES version of the device, e.g., \"196610\". * `deviceScreenSize` (string): Screen size of the device, e.g., NORMAL, LARGE. * `deviceScreenDpi` (string): Screen density of the device, e.g., mdpi, hdpi."
        },
        "pageSize": {
          "format": "int32",
          "description": "Optional. Maximum size of the returned data. If unspecified, at most 1000 rows will be returned. The maximum value is 100000; values above 100000 will be coerced to 100000.",
          "type": "integer"
        },
        "filter": {
          "description": "Optional. Filters to apply to data. The filtering expression follows [AIP-160](https://google.aip.dev/160) standard and supports filtering by equality of all breakdown dimensions.",
          "type": "string"
        },
        "userCohort": {
          "description": "Optional. User view to select. The output data will correspond to the selected view. The only supported value is `OS_PUBLIC`.",
          "type": "string",
          "enum": [
            "USER_COHORT_UNSPECIFIED",
            "OS_PUBLIC",
            "OS_BETA",
            "APP_TESTERS"
          ],
          "enumDescriptions": [
            "Unspecified User cohort. This will automatically choose the default value.",
            "This is default view. Contains data from public released android versions only.",
            "This is the view with just android beta data excluding released OS version data.",
            "This is the view with data only from users who have opted in to be testers for a given app, excluding OS beta data."
          ]
        },
        "pageToken": {
          "description": "Optional. A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to the request must match the call that provided the page token.",
          "type": "string"
        },
        "metrics": {
          "description": "Optional. Metrics to aggregate. **Supported metrics:** * `slowRenderingRate20Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow rendering. * `slowRenderingRate20Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate20Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate20Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps` (`google.type.Decimal`): Percentage of distinct users in the aggregation period that had a slow rendering. * `slowRenderingRate30Fps7dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 7 days. The daily values are weighted by the count of distinct users for the day. * `slowRenderingRate30Fps28dUserWeighted` (`google.type.Decimal`): Rolling average value of `slowRenderingRate30Fps` in the last 28 days. The daily values are weighted by the count of distinct users for the day. * `distinctUsers` (`google.type.Decimal`): Count of distinct users in the aggregation period that were used as normalization value for the `slowRenderingRate20Fps`/`slowRenderingRate30Fps` metric. A user is counted in this metric if their app was launched in the device. Care must be taken not to aggregate this count further, as it may result in users being counted multiple times. The value is rounded to the nearest multiple of 10, 100, 1,000 or 1,000,000, depending on the magnitude of the value.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "timelineSpec": {
          "description": "Optional. Specification of the timeline aggregation parameters. **Supported aggregation periods:** * DAILY: metrics are aggregated in calendar date intervals. Due to historical constraints, the only supported timezone is `America/Los_Angeles`.",
          "$ref": "GooglePlayDeveloperReportingV1beta1TimelineSpec"
        }
      }
    },
    "ApiservingMcpMcpToolVisibility": {
      "properties": {
        "visibilityRestriction": {
          "description": "The visibility restriction labels for the tool itself (e.g., \"PRODUCER_DEFINED_PREVIEW\"). Multiple labels can be provided as a comma-separated string.",
          "type": "string"
        },
        "fieldVisibility": {
          "type": "array",
          "items": {
            "$ref": "ApiservingMcpMcpToolVisibilityFieldVisibility"
          },
          "description": "A list of field-level visibility restrictions."
        },
[...]
